PROJECT TITLE:Local Food Wastage Management System

Project Summary:The project aims to reduce local food wastage by creating a centralized digital platform that connects 
food providers (restaurants, grocery stores, supermarkets, etc.) with receivers (NGOs, shelters, needy individuals). 
It enables real-time food listing, claiming, and tracking, ensuring surplus food reaches those who need it instead of going to waste.

Technology Stack:
Frontend: Streamlit (Python-based web interface).
Backend: Python + SQLAlchemy (Database operations).
Database: SQLite (development) / MySQL (production).
Libraries: pandas, matplotlib, dateutil, SQLAlchemy.

Introduction: 
Food wastage is a growing global concern, with millions of tons of edible food discarded each year while many people struggle to access sufficient nutrition. In urban areas, restaurants, grocery stores, supermarkets, and event organizers often generate large amounts of surplus food that, without proper channels, ends up being wasted. This wastage not only represents a loss of resources and money but also contributes to environmental issues such as greenhouse gas emissions from decomposing waste.
The Local Food Wastage Management and Redistribution System is designed to address this problem by creating a centralized digital platform that connects surplus food providers with individuals and organizations in need. The system enables providers to list available food in real-time, allowing receivers—such as NGOs, community kitchens, and underprivileged individuals—to claim it efficiently before it expires. By combining an intuitive interface, robust database management, and insightful analytics, the project ensures timely food redistribution, reduces waste, and fosters a culture of sharing and sustainability within the community.

In [1]:
# import Libraries
import pandas as pd
import numpy as np

In [3]:
df=pd.read_csv("C:/Users/VISHWA PRIYARANJAN/OneDrive/Desktop/Labmantrix_Internship/food_listings_data.csv")
df

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner
...,...,...,...,...,...,...,...,...,...
995,996,Fish,15,3/30/2025,467,Catering Service,Phillipsfort,Vegan,Breakfast
996,997,Fish,22,3/18/2025,35,Grocery Store,Andersonmouth,Vegetarian,Breakfast
997,998,Fruits,6,3/22/2025,444,Restaurant,New Billy,Non-Vegetarian,Dinner
998,999,Pasta,15,3/30/2025,702,Supermarket,Lake Mistyton,Non-Vegetarian,Lunch
999,1000,Salad,18,3/19/2025,155,Supermarket,Charlesview,Non-Vegetarian,Dinner

In [4]:
#check for null values
df.isnull().sum()

Food_ID          0
Food_Name        0
Quantity         0
Expiry_Date      0
Provider_ID      0
Provider_Type    0
Location         0
Food_Type        0
Meal_Type        0
dtype: int64

In [5]:
# Fetching all the columns of dataset
df.columns

Index(['Food_ID', 'Food_Name', 'Quantity', 'Expiry_Date', 'Provider_ID',
       'Provider_Type', 'Location', 'Food_Type', 'Meal_Type'],
      dtype='object')

In [6]:
# Data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Food_ID        1000 non-null   int64
 1   Food_Name      1000 non-null   object
 2   Quantity       1000 non-null   int64
 3   Expiry_Date    1000 non-null   object
 4   Provider_ID    1000 non-null   int64
 5   Provider_Type  1000 non-null   object
 6   Location       1000 non-null   object
 7   Food_Type      1000 non-null   object
 8   Meal_Type      1000 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

In [7]:
# Dataset Duplicate Value Count
duplicate_count = df.duplicated().sum()
print(f'Duplicate values count: {duplicate_count}')

Duplicate values count: 0

In [8]:
# Check Unique Values for each variable.
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values for {column}:")
    print(unique_values)
    print("\n")

Unique values for Food_ID:
[   1    2    3    4    5    6    7    8    9   10   11   12   13   14
   15   16   17   18   19   20   21   22   23   24   25   26   27   28
   29   30   31   32   33   34   35   36   37   38   39   40   41   42
   43   44   45   46   47   48   49   50   51   52   53   54   55   56
   57   58   59   60   61   62   63   64   65   66   67   68   69   70
   71   72   73   74   75   76   77   78   79   80   81   82   83   84
   85   86   87   88   89   90   91   92   93   94   95   96   97   98
   99  100  101  102  103  104  105  106  107  108  109  110  111  112
  113  114  115  116  117  118  119  120  121  122  123  124  125  126
  127  128  129  130  131  132  133  134  135  136  137  138  139  140
  141  142  143  144  145  146  147  148  149  150  151  152  153  154
  155  156  157  158  159  160  161  162  163  164  165  166  167  168
  169  170  171  172  173  174  175  176  177  178  179  180  181  182
  183  184  185  186  187  188  189  190  191  192  193  194  195  196
  197  198  199  200  201  202  203  204  205  206  207  208  209  210
  211  212  213  214  215  216  217  218  219  220  221  222  223  224
  225  226  227  228  229  230  231  232  233  234  235  236  237  238
  239  240  241  242  243  244  245  246  247  248  249  250  251  252
  253  254  255  256  257  258  259  260  261  262  263  264  265  266
  267  268  269  270  271  272  273  274  275  276  277  278  279  280
  281  282  283  284  285  286  287  288  289  290  291  292  293  294
  295  296  297  298  299  300  301  302  303  304  305  306  307  308
  309  310  311  312  313  314  315  316  317  318  319  320  321  322
  323  324  325  326  327  328  329  330  331  332  333  334  335  336
  337  338  339  340  341  342  343  344  345  346  347  348  349  350
  351  352  353  354  355  356  357  358  359  360  361  362  363  364
  365  366  367  368  369  370  371  372  373  374  375  376  377  378
  379  380  381  382  383  384  385  386  387  388  389  390  391  392
  393  394  395  396  397  398  399  400  401  402  403  404  405  406
  407  408  409  410  411  412  413  414  415  416  417  418  419  420
  421  422  423  424  425  426  427  428  429  430  431  432  433  434
  435  436  437  438  439  440  441  442  443  444  445  446  447  448
  449  450  451  452  453  454  455  456  457  458  459  460  461  462
  463  464  465  466  467  468  469  470  471  472  473  474  475  476
  477  478  479  480  481  482  483  484  485  486  487  488  489  490
  491  492  493  494  495  496  497  498  499  500  501  502  503  504
  505  506  507  508  509  510  511  512  513  514  515  516  517  518
  519  520  521  522  523  524  525  526  527  528  529  530  531  532
  533  534  535  536  537  538  539  540  541  542  543  544  545  546
  547  548  549  550  551  552  553  554  555  556  557  558  559  560
  561  562  563  564  565  566  567  568  569  570  571  572  573  574
  575  576  577  578  579  580  581  582  583  584  585  586  587  588
  589  590  591  592  593  594  595  596  597  598  599  600  601  602
  603  604  605  606  607  608  609  610  611  612  613  614  615  616
  617  618  619  620  621  622  623  624  625  626  627  628  629  630
  631  632  633  634  635  636  637  638  639  640  641  642  643  644
  645  646  647  648  649  650  651  652  653  654  655  656  657  658
  659  660  661  662  663  664  665  666  667  668  669  670  671  672
  673  674  675  676  677  678  679  680  681  682  683  684  685  686
  687  688  689  690  691  692  693  694  695  696  697  698  699  700
  701  702  703  704  705  706  707  708  709  710  711  712  713  714
  715  716  717  718  719  720  721  722  723  724  725  726  727  728
  729  730  731  732  733  734  735  736  737  738  739  740  741  742
  743  744  745  746  747  748  749  750  751  752  753  754  755  756
  757  758  759  760  761  762  763  764  765  766  767  768  769  770
  771  772  773  774  775  776  777  778  779  780  781  782  783  784
  785  786  787  788  789  790  791  792  793  794  795  796  797  798
  799  800  801  802  803  804  805  806  807  808  809  810  811  812
  813  814  815  816  817  818  819  820  821  822  823  824  825  826
  827  828  829  830  831  832  833  834  835  836  837  838  839  840
  841  842  843  844  845  846  847  848  849  850  851  852  853  854
  855  856  857  858  859  860  861  862  863  864  865  866  867  868
  869  870  871  872  873  874  875  876  877  878  879  880  881  882
  883  884  885  886  887  888  889  890  891  892  893  894  895  896
  897  898  899  900  901  902  903  904  905  906  907  908  909  910
  911  912  913  914  915  916  917  918  919  920  921  922  923  924
  925  926  927  928  929  930  931  932  933  934  935  936  937  938
  939  940  941  942  943  944  945  946  947  948  949  950  951  952
  953  954  955  956  957  958  959  960  961  962  963  964  965  966
  967  968  969  970  971  972  973  974  975  976  977  978  979  980
  981  982  983  984  985  986  987  988  989  990  991  992  993  994
  995  996  997  998  999 1000]


Unique values for Food_Name:
['Bread' 'Soup' 'Fruits' 'Vegetables' 'Dairy' 'Rice' 'Pasta' 'Salad'
 'Chicken' 'Fish']


Unique values for Quantity:
[43 22 46 15 14  4 29 49 41 39 33 19  3  6 42 28 13 38 20 48 34 12  5 18
 27  9 35 50 44 17 25 30 23 21 45 47  7 11 40  1 36 26 37  8  2 31 32 16
 24 10]


Unique values for Expiry_Date:
['3/17/2025' '3/24/2025' '3/28/2025' '3/16/2025' '3/19/2025' '3/25/2025'
 '3/20/2025' '3/22/2025' '3/30/2025' '3/26/2025' '3/27/2025' '3/21/2025'
 '3/23/2025' '3/29/2025' '3/18/2025']


Unique values for Provider_ID:
[ 110  791  478  930  279  378  268  343   47  528   96  899  115  621
   74  862  417  455  419  306  277  892    1  897  898   95  262  606
  196  616  535  611  798  396  108  389  440  758  965  450  179   29
  290  874  576  420  150  700  514  828  460  174  368  967  125  977
  270  251  153  243  520  335  678  602  577  113  504  313  750  293
  485  387  905  890  913  100  434  848  631  312  554  288   34  491
  844  477  275  752  264  722  120  656  346  632  162  647  538  584
  391  468  698  253  464  835  998  354  904  308  623  906  963  570
  530  863  135  785  314  846  148  909  982   54  763  235  997  241
  840  795   39  980  723   87  558  446  702  938  810  751  172  619
  650  816  332  902   58  737    4  970  600  687  653  367  414  826
  432   90  134  336  403  103  903  465  316  847  601    7  247  730
  182  498  910   55  948  508  320   31  989  453  287  244  794  330
  319  215  896   22  931  523  422  990  242  228  122   24  315  206
  159  323  976  211  333  524  556  340  923   98  210  596  782  610
   26  888  170  231  643  372  655   46   48  768  960  703  825  384
  344  101  815  112  693  408  484  589  107  595  201  254  151  657
  839   66  326  393  356  640  161  353   43  882  237  276  409  883
  718  459  886  760  945  639   38  284  973 1000  740  238  551  761
  494  866  946   63  572  575  365  407  834  876  716  480  139  126
  664  301  735  512  634  908  766  563    2  567  692  418  380  662
   71  939  811  770  540  331  783  154  138  252  709  569   41  985
   86  208  614  885  697  958  858  707  321  599  404  717  726  987
  802  593  582  429  133  691  222  912  273  999  537  685  585  386
  676  550  926  461  338  178  853  144  979  373  345   84  986  499
  919  671  117  995  736  221  713  871  189  630  347  213  202  511
   85  532  729  337  258  388  435  637  357  993  928  786  517  705
  933  185  527  295  102  129  552  507  230   11  123  861  227  793
  968  176  879  911  255  880  725   45  559  792  351  674  677  901
  583   57  223  668  683  949  549  526  984  116  714  836  245   93
  754  371  169  267  814  850  518  328  234   68  659   49  212  111
  239   88  285  497  501  590  192   20   56  341  515  140  358  158
  981  232  505  578  932   17  541  592  146  104  929  857   37  475
  274  694  922  205  873  421   60  240   42  184  806   72  573  765
  769  327  142  961  164  289  555  672  177  536  350  779   65  817
  872  777  784  199  224  625  800  127  263  801  701  849  342  762
  719  265  324  734  186  964  776  483  456  472  613  720  195  887
  282  710  217   76    9  463  952  200  609  509  788  204  249   33
  566  959  355  673  152  824  467  413  764  193   62   16  474  868
  292  513  471  157  363  248  304  753  167  587   50  907  636  531
  642  548  495  894  426   67  516  841  804   97  934  937  741  837
  870   40  875  712  721   78  374  778  954  503  423  266  539  405
  310  547  638    5  732  183  452  191  175  831  533  124  334  962
  198  920   52   59  665  261  852  181  983  951  608  381  916  745
  591  807  118   82  731  780  626   10  827  789  519  738  743  935
   14  557  257  470   35  444  155]


Unique values for Provider_Type:
['Grocery Store' 'Catering Service' 'Restaurant' 'Supermarket']


Unique values for Location:
['South Kellyville' 'West James' 'Lake Regina' 'Kellytown' 'Garciaport'
 'South Johnshire' 'Nolanmouth' 'South Christopherborough'
 'East Andrewland' 'Markport' 'Deborahland' 'North Steven' 'Floresville'
 'Sarahland' 'Belindaville' 'East Tammy' 'East Ashleyshire' 'Madisonfort'
 'Port Peter' 'North Keith' 'West Aliciabury' 'Russellfurt' 'New Jessica'
 'Villastad' 'Medinatown' 'Christinaland' 'New Carol' 'North Nathan'
 'Bartonborough' 'Clarkberg' 'Valdezborough' 'Port Kendraborough'
 'North Amanda' 'Heatherside' 'East Austin' 'Davidborough' 'Elliottberg'
 'Port Patrick' 'Port Bryce' 'Grahamside' 'North Michelle' 'Patrickmouth'
 'Bradleyport' 'Priceland' 'East Emilyburgh' 'Anthonyton'
 'North Jamesberg' 'Morriston' 'Maxwellburgh' 'Torresshire' 'Lake Justin'
 'North Carolfurt' 'North Lindseychester' 'Coleburgh' 'Lake April'
 'South Jessicachester' 'Cunninghambury' 'East Terrancemouth'
 'Hawkinsmouth' 'West Catherine' 'Port Andre' 'North Gary' 'Lake Travis'
 'North Destiny' 'Lake Donna' 'East Elizabethberg' 'Gaineschester'
 'Boylechester' 'Michaelton' 'Joneshaven' 'East Andrea' 'West Juliabury'
 'North Kennethshire' 'Pereztown' 'Erikatown' 'Mooreview' 'Nicoletown'
 'Fowlerbury' 'North Kevinhaven' 'North Ianbury' 'Brandyberg'
 'Maynardstad' 'North Garybury' 'Samanthabury' 'Olsenstad'
 'East Jacobchester' 'Brittanyport' 'East Heatherport' 'New Richard'
 'Linchester' 'New Lisa' 'South Tiffanyfort' 'Thomasville' 'Davidville'
 'Penabury' 'West Kara' 'Jasonmouth' 'Moralesside' 'South Jerryside'
 'East Johnburgh' 'Phillipsmouth' 'Sharonton' 'Port Jacob' 'Thorntonbury'
 'Joshuastad' 'South Alicia' 'West Miaside' 'Brittanyside' 'Latoyaberg'
 'West Kevin' 'East Bernard' 'Lake Vanessa' 'Johnstonhaven' 'Port Michael'
 'East Candace' 'Lindseybury' 'Rodriguezfurt' 'South Thomasville'
 'Annahaven' 'Sheilaburgh' 'Westbury' 'Lake Rachael' 'Josephburgh'
 'Gutierrezshire' 'East Rossside' 'Devinmouth' 'Cisnerostown' 'Brownberg'
 'Brittanyville' 'Port Melissa' 'Jessicaland' 'West Adam'
 'North Sharonberg' 'Port Richardshire' 'Lake Mistyton' 'Hollyhaven'
 'Lake Jason' 'East Richardside' 'Garciaside' 'North Katelynland'
 'Garzaville' 'New Jamesburgh' 'West Whitneymouth' 'Port Robertport'
 'Port Andrea' 'Mendezmouth' 'Jeffreybury' 'Meganshire' 'North James'
 'Cameronside' 'Deckermouth' 'New Matthew' 'Lake Karenfurt' 'Carolchester'
 'Lake Kristentown' 'West Melissa' 'East Sandra' 'Jeremiahfort'
 'Port Michaelshire' 'Lake Kari' 'Johnton' 'Williamsfort'
 'Williamsonmouth' 'Port Troychester' 'Lake Christopherburgh' 'Port Aaron'
 'Benjaminstad' 'Port Jeffrey' 'East Craig' 'Leeburgh' 'Danachester'
 'West Lisamouth' 'Walkerfurt' 'Lake Jeffreytown' 'South Kellyberg'
 'North Lauren' 'East Timothy' 'Jefferyside' 'Toddberg' 'Woodport'
 'Jamesport' 'Lake Amymouth' 'New Curtis' 'Weberfurt' 'Port Lisamouth'
 'South Allisonburgh' 'Lake Lorrainefort' 'Smithfort' 'Lake Latasha'
 'Michaelport' 'Andrewsmouth' 'Tyronebury' 'Hestermouth'
 'Lake Andrewmouth' 'Port Emilyburgh' 'North Brooke' 'Jasmineberg'
 'Davisview' 'Lake James' 'Port Heidiland' 'West Amandafurt'
 'Brittanyland' 'Murrayborough' 'Jonestown' 'Gardnerfort' 'Paulmouth'
 'Zimmermanville' 'North Mary' 'Allenton' 'West Adammouth'
 'West Sharonview' 'North Brentbury' 'North Tom' 'North Ebony' 'Lewisberg'
 'Jimmyberg' 'South Lisaberg' 'Timothyview' 'South Danielle' 'Port Lance'
 'Lake Jamestown' 'South Bryan' 'Jamesfurt' 'North Nicholas'
 'East Angelafort' 'Ashleyhaven' 'East Courtneymouth' 'Raybury'
 'Riceshire' 'North Douglasfurt' 'Morganhaven' 'West Lauraborough'
 'Port Matthew' 'Sandrastad' 'Reidland' 'Anthonyshire' 'Davidland'
 'Port Erin' 'Lake Michaelfurt' 'Lake Alicia' 'Heatherview' 'West Michael'
 'West Tinamouth' 'Perezport' 'North Aaron' 'South Karen' 'Jenniferville'
 'Frederickside' 'Port Eric' 'East Roberthaven' 'New Jacob'
 'Port Victoria' 'Castilloport' 'New Tiffanystad' 'Yatesside' 'Tamaraside'
 'Richardsonhaven' 'Perkinsbury' 'North Julieburgh' 'New Larry'
 'Brendantown' 'Port Marissachester' 'East Sandratown' 'New Zachary'
 'New Denise' 'New Robertstad' 'Roystad' 'Mcclainfurt' 'Lake Cathy'
 'Johnport' 'West Robert' 'North Charlesside' 'Harrishaven' 'Brookeland'
 'North Ryan' 'East Kevin' 'Port Connie' 'New Rodneyville' 'Jeffreyshire'
 'East Laurashire' 'Westmouth' 'Port Timothystad' 'Colemanton'
 'East Phillipton' 'Jonathanmouth' 'East Angela' 'East Sheena'
 'Jonathanstad' 'South Andrewport' 'Deborahfurt' 'Lake Christophermouth'
 'Port Lesliebury' 'Ruizmouth' 'New Monicaside' 'East Emily'
 'East Melissa' 'Henrychester' 'South Jeffreyburgh' 'Port Melanie'
 'New John' 'North Sherrimouth' 'Phillipsfort' 'South Kathryn'
 'South Russelltown' 'Bentleyburgh' 'Harrisonbury' 'New Michelle'
 'East Garyton' 'Robertshire' 'Lake Stephen' 'Padillatown'
 'Lake Vanessaland' 'Johnsonborough' 'Laurietown' 'North Edwinchester'
 'Carlborough' 'Brownchester' 'Pamelaberg' 'Shortfurt' 'South Kevinhaven'
 'North Katherineshire' 'Tammyside' 'West Dannyland' 'Lake Benjamin'
 'South Michaelberg' 'Youngchester' 'Stephanieberg' 'Blaketown'
 'Stevenchester' 'Callahanside' 'Maysside' 'Port Donnaton' 'Wheelermouth'
 'Lake Jasmin' 'Timothychester' 'North Chase' 'New Hannah' 'Adambury'
 'Scottchester' 'East Michelle' 'Bellport' 'West Hunter' 'Aprilberg'
 'North Tracy' 'Marthaside' 'Port David' 'Port Tanyaburgh'
 'North Catherine' 'Amberton' 'Manningshire' 'East Anthony'
 'Walterborough' 'Smithmouth' 'Madelinechester' 'Brianside' 'West Matthew'
 'Louismouth' 'Andersonville' 'Vazquezshire' 'Port Davidshire'
 'Christopherstad' 'Darrylchester' 'Lake Nathan' 'New Ricky'
 'Lake Anthonyport' 'Manuelhaven' 'Port Leahfurt' 'East Williamshire'
 'Donnaborough' 'East Stephanie' 'Zimmermanton' 'Basstown' 'Wadeville'
 'East Robert' 'Anthonyborough' 'Shirleyland' 'Bonillahaven' 'Meghanfurt'
 'West Samantha' 'Port Emily' 'Pearsonchester' 'Lake Diane'
 'North Melanie' 'South Robert' 'East Meganfort' 'Lake Kendramouth'
 'Derekport' 'West Brandon' 'Christopherton' 'East John' 'Lake Michael'
 'Garciatown' 'Crystalborough' 'Sheenashire' 'New Evanport'
 'East Deniseborough' 'New Baileyfort' 'Mortonfort' 'South Stefanietown'
 'Anthonyhaven' 'Williamsmouth' 'West Melissastad' 'Marcstad' 'Port Robin'
 'Longland' 'Salinasville' 'Christinetown' 'Lake Deborah' 'East Deborah'
 'South Tylerstad' 'South Edwardtown' 'Moseshaven' 'North William'
 'New Ninashire' 'Lake Heather' 'New Daniel' 'North Sharonburgh'
 'Solisburgh' 'Lindseyland' 'Port Kevinburgh' 'Allenborough'
 'North Stevenbury' 'Anneville' 'Port Rubenville' 'New Joel'
 'North Elizabeth' 'East Lori' 'Lake Traceyburgh' 'Port Markview'
 'South Davidside' 'South Bradleyburgh' 'Salastown' 'West Corey'
 'Chelseyfort' 'Jordanhaven' 'Richchester' 'Leslieville' 'East Samantha'
 'Michaelview' 'Lake Ryanbury' 'Snyderton' 'Watsonstad'
 'South Crystalberg' 'North Crystal' 'West Stevenport' 'Muellermouth'
 'Chelseaside' 'Port Carrie' 'New Ginaborough' 'West Dawn' 'West Karen'
 'North Brendaborough' 'Jonathanhaven' 'Lake Theresa' 'Lake Richardhaven'
 'Jordanborough' 'New Amanda' 'Bentonfurt' 'New Dawnborough' 'Amandashire'
 'Carlbury' 'East Sonyaport' 'Kylehaven' 'Wilsonport' 'Andreaborough'
 'East Nicholasbury' 'Velazquezview' 'West Samuelfurt' 'Jasonstad'
 'New Thomasmouth' 'South Douglashaven' 'Carrport' 'Villaborough'
 'Mitchellmouth' 'Sylviabury' 'Toddstad' 'South Brenda'
 'North Mariahchester' 'South Nicholasville' 'South Donald' 'Port Dustin'
 'New Bobbytown' 'Lake Raymondton' 'Walterton' 'Ramosville' 'Wilsonview'
 'Gibsonfort' 'Christinamouth' 'East Lindsayville' 'East Lisa'
 'East Amyfurt' 'Jasonland' 'Chambersfort' 'North Joseph' 'Browntown'
 'Matthewbury' 'West Lucasville' 'East Cynthia' 'New Douglas'
 'East Elizabeth' 'Port Anita' 'Evansmouth' 'Connieside' 'Williamview'
 'Millerview' 'North Katelyn' 'Rebeccaburgh' 'Petersonburgh'
 'Francisshire' 'Justinhaven' 'Strongmouth' 'Port Gregton'
 'Mikaylachester' 'Mooremouth' 'Port Amandamouth' 'Tinamouth'
 'East Edwinburgh' 'Samueltown' 'Cordovaborough' 'New Michaelmouth'
 'Lake Lauraton' 'Johnsonside' 'Janetborough' 'New Rachel'
 'North Victoriastad' 'New Connorfort' 'South Jacobport' 'Lopezport'
 'North Mike' 'New Travisshire' 'North Lisaland' 'Marymouth'
 'West Vanessafort' 'South Nicole' 'Rodriguezview' 'Mooneybury'
 'West Larry' 'Charlesmouth' 'Bairdfort' 'East Brittanyland'
 'South Michellechester' 'Port Marcland' 'South Randy' 'Davidport'
 'Lake George' 'West Danielborough' 'South Marthahaven' 'West Omarside'
 'North Kylestad' 'Lesterstad' 'Lisamouth' 'Brownshire' 'Cannonside'
 'Taylorchester' 'Kentland' 'New Aaronberg' 'Lake Tamara' 'North Ashley'
 'Reyesshire' 'Steveport' 'Roachhaven' 'West Anthonymouth' 'South Charles'
 'New Hollyfurt' 'Jennifertown' 'South William' 'Huberstad'
 'Port Staceymouth' 'North Susan' 'Steeleport' 'Edwardsbury'
 'Randallchester' 'Joseville' 'South Justinborough' 'Port Ronaldshire'
 'Watsonton' 'Kevinfort' 'Saraburgh' 'Batesstad' 'Jeffreyport'
 'Valentineside' 'Ginaview' 'South Anne' 'New Erica' 'Lake Jessicamouth'
 'Katherinefurt' 'Lewishaven' 'Rogersmouth' 'Lake Shelby'
 'South Jillshire' 'Alexanderchester' 'Port Karen' 'New Calebberg'
 'Port Dianaberg' 'Marissaville' 'West Billborough' 'South Richardhaven'
 'East Shanestad' 'Taylormouth' 'Herbertbury' 'Spenceland' 'Collinsmouth'
 'Martinville' 'Patrickfort' 'New Leslieport' 'Williamland' 'Lake Joseph'
 'East Christophertown' 'North Caitlin' 'Heathermouth' 'West Cherylfort'
 'East Kimberly' 'Lake Maria' 'Keithburgh' 'West Kelli' 'South Richard'
 'Ramseyfort' 'Garciamouth' 'East Aaron' 'Lake Coryhaven'
 'Port Daniellechester' 'Andersonmouth' 'New Billy' 'Charlesview']


Unique values for Food_Type:
['Non-Vegetarian' 'Vegan' 'Vegetarian']


Unique values for Meal_Type:
['Breakfast' 'Dinner' 'Lunch' 'Snacks']

In [9]:
# Missing Values/Null Values Count
missing_values = df.isnull().sum()
print('Missing values count:')
print(missing_values)

Missing values count:
Food_ID          0
Food_Name        0
Quantity         0
Expiry_Date      0
Provider_ID      0
Provider_Type    0
Location         0
Food_Type        0
Meal_Type        0
dtype: int64

In [10]:
df.shape

(1000, 9)

In [12]:
df.describe()

           Food_ID     Quantity  Provider_ID
count  1000.000000  1000.000000     1000.000
mean    500.500000    25.794000      497.497
std     288.819436    14.609894      291.681
min       1.000000     1.000000        1.000
25%     250.750000    13.000000      241.000
50%     500.500000    26.000000      498.500
75%     750.250000    39.000000      752.000
max    1000.000000    50.000000     1000.000

In [1]:
# import Libraries
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("C:/Users/VISHWA PRIYARANJAN/OneDrive/Desktop/Labmantrix_Internship/providers_data.csv")
df

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577
...,...,...,...,...,...,...
995,996,"Vasquez, Ruiz and Flowers",Restaurant,"84308 Justin Stravenue\nNew Amberside, NE 53447",Williamview,+1-319-378-7627x0682
996,997,Garza-Williams,Catering Service,"08864 Figueroa Radial Suite 948\nJennaberg, AZ...",East Rossside,001-924-441-3963x746
997,998,Novak Group,Grocery Store,"934 Zachary Run\nMelissamouth, WY 02729",Joshuastad,(903)642-1969x3300
998,999,Moody Ltd,Grocery Store,"17580 Ernest Hills\nLake Michaelmouth, OR 56416",Stevenchester,637.300.3664x4880
999,1000,Jenkins-Brooks,Restaurant,"53390 Evans Rapids Suite 982\nLake Meghan, MO ...",Brendantown,266-324-3458x95775

In [3]:
#check for null values
df.isnull().sum()

Provider_ID    0
Name           0
Type           0
Address        0
City           0
Contact        0
dtype: int64

In [4]:
# Fetching all the columns of dataset
df.columns

Index(['Provider_ID', 'Name', 'Type', 'Address', 'City', 'Contact'], dtype='object')

In [5]:
# Missing Values/Null Values Count
missing_values = df.isnull().sum()
print('Missing values count:')
print(missing_values)

Missing values count:
Provider_ID    0
Name           0
Type           0
Address        0
City           0
Contact        0
dtype: int64

In [6]:
# Dataset Duplicate Value Count
duplicate_count = df.duplicated().sum()
print(f'Duplicate values count: {duplicate_count}')

Duplicate values count: 0

In [7]:
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values for {column}:")
    print(unique_values)
    print("\n")

Unique values for Provider_ID:
[   1    2    3    4    5    6    7    8    9   10   11   12   13   14
   15   16   17   18   19   20   21   22   23   24   25   26   27   28
   29   30   31   32   33   34   35   36   37   38   39   40   41   42
   43   44   45   46   47   48   49   50   51   52   53   54   55   56
   57   58   59   60   61   62   63   64   65   66   67   68   69   70
   71   72   73   74   75   76   77   78   79   80   81   82   83   84
   85   86   87   88   89   90   91   92   93   94   95   96   97   98
   99  100  101  102  103  104  105  106  107  108  109  110  111  112
  113  114  115  116  117  118  119  120  121  122  123  124  125  126
  127  128  129  130  131  132  133  134  135  136  137  138  139  140
  141  142  143  144  145  146  147  148  149  150  151  152  153  154
  155  156  157  158  159  160  161  162  163  164  165  166  167  168
  169  170  171  172  173  174  175  176  177  178  179  180  181  182
  183  184  185  186  187  188  189  190  191  192  193  194  195  196
  197  198  199  200  201  202  203  204  205  206  207  208  209  210
  211  212  213  214  215  216  217  218  219  220  221  222  223  224
  225  226  227  228  229  230  231  232  233  234  235  236  237  238
  239  240  241  242  243  244  245  246  247  248  249  250  251  252
  253  254  255  256  257  258  259  260  261  262  263  264  265  266
  267  268  269  270  271  272  273  274  275  276  277  278  279  280
  281  282  283  284  285  286  287  288  289  290  291  292  293  294
  295  296  297  298  299  300  301  302  303  304  305  306  307  308
  309  310  311  312  313  314  315  316  317  318  319  320  321  322
  323  324  325  326  327  328  329  330  331  332  333  334  335  336
  337  338  339  340  341  342  343  344  345  346  347  348  349  350
  351  352  353  354  355  356  357  358  359  360  361  362  363  364
  365  366  367  368  369  370  371  372  373  374  375  376  377  378
  379  380  381  382  383  384  385  386  387  388  389  390  391  392
  393  394  395  396  397  398  399  400  401  402  403  404  405  406
  407  408  409  410  411  412  413  414  415  416  417  418  419  420
  421  422  423  424  425  426  427  428  429  430  431  432  433  434
  435  436  437  438  439  440  441  442  443  444  445  446  447  448
  449  450  451  452  453  454  455  456  457  458  459  460  461  462
  463  464  465  466  467  468  469  470  471  472  473  474  475  476
  477  478  479  480  481  482  483  484  485  486  487  488  489  490
  491  492  493  494  495  496  497  498  499  500  501  502  503  504
  505  506  507  508  509  510  511  512  513  514  515  516  517  518
  519  520  521  522  523  524  525  526  527  528  529  530  531  532
  533  534  535  536  537  538  539  540  541  542  543  544  545  546
  547  548  549  550  551  552  553  554  555  556  557  558  559  560
  561  562  563  564  565  566  567  568  569  570  571  572  573  574
  575  576  577  578  579  580  581  582  583  584  585  586  587  588
  589  590  591  592  593  594  595  596  597  598  599  600  601  602
  603  604  605  606  607  608  609  610  611  612  613  614  615  616
  617  618  619  620  621  622  623  624  625  626  627  628  629  630
  631  632  633  634  635  636  637  638  639  640  641  642  643  644
  645  646  647  648  649  650  651  652  653  654  655  656  657  658
  659  660  661  662  663  664  665  666  667  668  669  670  671  672
  673  674  675  676  677  678  679  680  681  682  683  684  685  686
  687  688  689  690  691  692  693  694  695  696  697  698  699  700
  701  702  703  704  705  706  707  708  709  710  711  712  713  714
  715  716  717  718  719  720  721  722  723  724  725  726  727  728
  729  730  731  732  733  734  735  736  737  738  739  740  741  742
  743  744  745  746  747  748  749  750  751  752  753  754  755  756
  757  758  759  760  761  762  763  764  765  766  767  768  769  770
  771  772  773  774  775  776  777  778  779  780  781  782  783  784
  785  786  787  788  789  790  791  792  793  794  795  796  797  798
  799  800  801  802  803  804  805  806  807  808  809  810  811  812
  813  814  815  816  817  818  819  820  821  822  823  824  825  826
  827  828  829  830  831  832  833  834  835  836  837  838  839  840
  841  842  843  844  845  846  847  848  849  850  851  852  853  854
  855  856  857  858  859  860  861  862  863  864  865  866  867  868
  869  870  871  872  873  874  875  876  877  878  879  880  881  882
  883  884  885  886  887  888  889  890  891  892  893  894  895  896
  897  898  899  900  901  902  903  904  905  906  907  908  909  910
  911  912  913  914  915  916  917  918  919  920  921  922  923  924
  925  926  927  928  929  930  931  932  933  934  935  936  937  938
  939  940  941  942  943  944  945  946  947  948  949  950  951  952
  953  954  955  956  957  958  959  960  961  962  963  964  965  966
  967  968  969  970  971  972  973  974  975  976  977  978  979  980
  981  982  983  984  985  986  987  988  989  990  991  992  993  994
  995  996  997  998  999 1000]


Unique values for Name:
['Gonzales-Cochran' 'Nielsen, Johnson and Fuller' 'Miller-Black'
 'Clark, Prince and Williams' 'Coleman-Farley' 'Lawson-Walters'
 'Ortiz-Lee' 'Curtis-Lewis' 'Nguyen Inc' 'Hall, Nguyen and Martinez'
 'Flores, Jackson and Ford' 'Miller Ltd' 'Parker, Flores and Jennings'
 'Nguyen-Tran' 'Valdez-Diaz' 'Brown and Sons' 'Edwards-Turner' 'Davis Ltd'
 'Drake-Martinez' 'Cross Group' 'Miller-Carter' 'Johnson Ltd'
 'Black, Collins and Richard' 'Gutierrez-Palmer' 'Hansen Inc' 'Lester Inc'
 'Wright Ltd' 'Andrews-Wiley' 'Rodriguez PLC' 'Thompson-Kerr'
 'Lawrence PLC' 'Miranda, Wilcox and Short' 'Cooper, Smith and King'
 'Nguyen-Parsons' 'Powell Inc' 'Phelps-Schmidt' 'Lawrence LLC'
 'Fernandez-Bridges' 'Robinson PLC' 'Kelly-Ware' 'Austin-Yu'
 'Martinez, Johnson and Torres' 'Torres-Perez' 'Butler, Kennedy and Cowan'
 'Fisher, Hernandez and Webster' 'Wong-Reese' 'Conway-Barr'
 'Miller, Braun and Graham' 'Perez-Williams' 'Shaw Inc' 'Buck-Carey'
 'Wolfe and Sons' 'Bennett, Phillips and Green' 'Wilson-Brown'
 'Morris Ltd' 'Cook Group' 'Martin, Tyler and Wilkerson'
 'Warner, White and Morris' 'Parker-Campbell' 'Arnold, Russo and Foster'
 'Mitchell, Campbell and Jones' 'Fuller, Vincent and Fernandez'
 'Mullen LLC' 'Fletcher Inc' 'Lambert-Wilson' 'Shannon Ltd'
 'Sherman-Wolfe' 'Williams PLC' 'Cook, Stanley and Wallace'
 'Jones-Edwards' 'Ward, Shepherd and Krause' 'Walker-Richards'
 'Johnston Ltd' 'Douglas PLC' 'Clark-Estes' 'Golden-Phillips'
 'Frazier LLC' 'Holmes Inc' 'Miller-Moore' 'Harris Ltd' 'Carey-Richardson'
 'Owens-Williams' 'Atkins Group' 'Larson Ltd' 'Murphy-Boyd'
 'Young, Townsend and Mccarthy' 'Oliver, Williams and Rich' 'Stewart-Page'
 'Miller Group' 'Rivera LLC' 'Cruz-Day' 'Davis, Vaughan and Shepherd'
 'Cuevas, Smith and Rowe' 'Orr Inc' 'Pierce, Walsh and Rogers'
 'King-Snyder' 'Hogan-Johnston' 'Walsh-Day' 'Greene-Garcia'
 'Chambers-Waters' 'Hester, Bowers and Carpenter' 'Russell-Summers'
 'Jackson LLC' 'Carr-Schaefer' 'Moreno Group' 'Pollard, Tyler and Davis'
 'Williams-Cox' 'Powell, Norton and James' 'Figueroa-Soto' 'Ball-Church'
 'Webb, Graves and Harrison' 'Anderson, Nicholson and Bruce'
 'Barnett-Graves' 'Wells-Davis' 'Mcdaniel-Morales' 'Morales, Wood and Cox'
 'Evans-Harrison' 'Yates-Mills' 'Burns-Davis' 'Glover Inc'
 'Mosley-Hernandez' 'Stephens-Stephens' 'Allen, Zimmerman and Harrington'
 'Brown-Grimes' 'Jackson, Gonzalez and Smith' 'Vasquez LLC'
 'Martinez-Downs' 'Hicks Ltd' 'Nelson-Tran' 'Spencer, Martin and Romero'
 'Walker-Knox' 'Baker LLC' 'Cook Ltd' 'Dyer Group'
 'Gordon, Davis and Gonzalez' 'Pena and Sons' 'Jones, Rojas and Brown'
 'Johnson-Ray' 'Zhang LLC' 'Myers, Kelley and Riley'
 'Luna, Padilla and Torres' 'Johnson, Harris and White' 'Rice-Woods'
 'Hampton-Lee' 'Nguyen-Shaffer' 'Perry, Cabrera and Owens' 'Lee LLC'
 'Powers, Clark and Snyder' 'Butler-Newman' 'Rogers-Shaw' 'Wu LLC'
 'Smith-Turner' 'Bennett-Parker' 'Johnson-Thompson'
 'Rodriguez, Walker and Singleton' 'Shepherd Group'
 'Wagner, Cole and Thompson' 'Baker, Warren and Kirk' 'Campbell LLC'
 'Moore, Perez and Young' 'Jackson-Bishop' 'Yu-Rodriguez' 'Silva Group'
 'King, Smith and Mullen' 'Thompson-Turner' 'Miller, Williams and Lewis'
 'Hines-Green' 'Peters, Chase and Davis' 'Jones, Delgado and Marquez'
 'Parker, Macdonald and Espinoza' 'Greene Group'
 'Gillespie, Foster and Boyd' 'Olson Ltd' 'Allen-Mccullough'
 'Turner-Ramirez' 'Mcbride-Rogers' 'Lucas, Bush and Miller'
 'Deleon, Guzman and Porter' 'Black, Montgomery and Hernandez'
 'Wilson-Ortiz' 'Elliott-Stephens' 'Norris-Townsend'
 'Horn, Johnson and Moore' 'Garner PLC' 'Collins, Williams and Fernandez'
 'Brown Ltd' 'Blackwell Ltd' 'Elliott-Mcguire' 'Grant-Davis'
 'Hunter, Ballard and Caldwell' 'Chung, Morris and Craig'
 'Lambert-Gonzalez' 'Williams-Strong' 'Owens-Taylor' 'Dodson and Sons'
 'Bowman LLC' 'Clark, Evans and Navarro' 'Turner-Woods' 'Ramirez LLC'
 'Graham-Peters' 'Bass-Sellers' 'Lyons Inc' 'Thompson Group'
 'Yoder-Murray' 'Walters, Jackson and Webster'
 'Miller, Johnson and Fernandez' 'Hubbard, Clark and Hicks' 'Jones-Miller'
 'Anderson, Patrick and Scott' 'Dennis, Parker and Sanchez'
 'Anderson, Robinson and Phillips' 'Kelley PLC' 'Simmons Ltd'
 'Potter, Brown and Torres' 'Williams Ltd' 'Aguilar and Sons'
 'Rivera-Nelson' 'Robinson and Sons' 'Richardson Group'
 'Tran, Douglas and Harvey' 'Hodges and Sons' 'Hughes-Jackson'
 'Stevens-Rogers' 'Hart PLC' 'Morse-Hoffman' 'Stewart-Soto' 'Thompson Ltd'
 'Phelps-Robbins' 'Jackson-Robinson' 'Snyder, Caldwell and Campbell'
 'Jones-Wu' 'Sherman-Baker' 'Gutierrez LLC' 'Singleton, Andrews and Bell'
 'White, Crawford and Pearson' 'Decker Group' 'Simpson, Thomas and Smith'
 'Marshall Ltd' 'Harper, Blake and Alexander' 'Aguilar-Frederick'
 'Davis-Hurley' 'Chan-Elliott' 'Williams and Sons' 'Robinson Group'
 'Shepherd-Yates' 'Oliver, Cross and Gilbert'
 'Davis, Sanchez and Hernandez' 'Lewis-Peters' 'Carter-Jones' 'Blair LLC'
 'Gonzales-Keith' 'Huber Group' 'Chapman, Barrett and Lopez' 'Hayes Ltd'
 'James Group' 'Gonzales-Moore' 'Lewis, Pierce and Wilson' 'Rice-Dawson'
 'Lopez, Davis and Duncan' 'Bradford-Martinez' 'Lutz, Smith and Martin'
 'Holland and Sons' 'Simmons-Mcdaniel' 'Thomas-Carpenter' 'Sherman-Garza'
 'White, Hutchinson and Williams' 'Jackson and Sons' 'Harrison-Wilson'
 'Barrera, Jenkins and Boyd' 'Holland, Parks and Scott' 'Hammond LLC'
 'Shields-Moore' 'Floyd, Jones and Alvarado' 'Hodge-Leblanc'
 'Ramos and Sons' 'Edwards-Ryan' 'Greene, Wood and Hernandez'
 'Peck, George and Klein' 'Davis Inc' 'Baker, Gardner and Callahan'
 'Russell-Graham' 'Cruz Inc' 'Sanchez-Fisher' 'Watson-West' 'Carr-Wells'
 'Carlson-Mathis' 'Jenkins-Carpenter' 'Webb, Phillips and Garcia'
 'Bass-Gay' 'Lopez-Duffy' 'Ibarra and Sons' 'Fitzgerald Group'
 'Patterson, Harris and Kelly' 'Martin PLC' 'Butler-Cook'
 'Mills, Osborne and Dickson' 'Riley PLC' 'Clarke-Farley'
 'Smith, Glover and Mcintyre' 'Robertson PLC' 'Douglas-Colon'
 'Wolfe, Garner and Jones' 'Evans, Wright and Mitchell' 'Gonzalez-Parrish'
 'Doyle LLC' 'Bell, Davis and Hickman' 'Sullivan, Thornton and Peterson'
 'Fleming Ltd' 'Garcia-Hunter' 'Maldonado-Davis' 'Wright-Mcclure'
 'Nelson LLC' 'Johnson Group' 'Parker, Jordan and Thompson'
 'Briggs-Stewart' 'Davila, Green and Avila' 'Shah Group' 'Williams-Boyle'
 'Mayo PLC' 'Peters-Johnson' 'Roberts Group' 'Allen and Sons'
 'Bender, Jordan and Bennett' 'Miller, Conner and Clark'
 'Walker, Brennan and Townsend' 'Davidson Group' 'Holloway-Koch'
 'Edwards, Johnson and Cross' 'Cox LLC' 'Herrera, Fritz and Banks'
 'Cox-Mcintyre' 'Newman, Pearson and Mccarthy' 'Mckinney LLC'
 'Hogan-Oliver' 'Ibarra LLC' 'Palmer and Sons' 'Barry, Powers and White'
 'Jenkins-Carrillo' 'Smith Inc' 'Harris, Perez and Willis'
 'Mcmillan, Gallegos and Perry' 'Mitchell-Watson'
 'Phillips, Wolfe and Martin' 'Hood, Hoffman and Wright' 'May and Sons'
 'Walker, Wong and Norris' 'Scott, Johnson and Villa' 'Berry-Mack'
 'Strickland LLC' 'Rose-Pearson' 'Rowe-Arias' 'Espinoza PLC' 'Carey PLC'
 'Cole-Ochoa' 'Gonzalez, Tapia and Stewart' 'Clay LLC' 'Fleming Group'
 'Snyder-Gordon' 'Henry-Terry' 'Reid Ltd' 'Bray, Nguyen and Christensen'
 'Harrell-Hanson' 'Patel and Sons' 'Smith-Villegas'
 'Weeks, Wood and Sharp' 'Cox-Richmond'
 'Montgomery, Dominguez and Hopkins' 'Elliott-Jones' 'Avila Group'
 'Pollard, Yoder and Martin' 'Anderson-Stevens' 'Wilkins-Boyle'
 'Cooper-Gill' 'Foster Ltd' 'Payne-Pena' 'Nelson PLC'
 'Cruz, Lee and Fernandez' 'Bruce, Lewis and Anderson' 'Hines-Rangel'
 'Rogers-Warren' 'Fitzpatrick and Sons' 'Miranda Ltd' 'Barrera-Ward'
 'Rivera Ltd' 'Hunt-Lee' 'Case, Anderson and Morris' 'Lambert Ltd'
 'Steele Ltd' 'Davis PLC' 'Andrade Inc' 'Chase-Gross' 'Alexander PLC'
 'Brown LLC' 'Torres, Marshall and Williams' 'Leach-Alvarado' 'Perez-Howe'
 'Butler-Anderson' 'Bradley-Smith' 'Schmidt Ltd' 'Mills, Smith and Martin'
 'Hernandez, Rodriguez and Tanner' 'Douglas and Sons' 'Thompson-Ortiz'
 'Ayala LLC' 'Byrd-Mitchell' 'Hernandez-Todd' 'Farmer-Gilbert'
 'Davis, Bowen and Miller' 'Gonzales Group' 'Thomas and Sons' 'Cohen LLC'
 'Glover, Wilson and Hudson' 'Schwartz, Odonnell and Padilla'
 'Hanson, Wilkerson and Lee' 'Snyder Ltd' 'Glass Inc' 'Wilson-Cook'
 'Serrano-Lopez' 'Hart Ltd' 'Rose-Tucker' 'Cook-Rodriguez' 'Porter-Clark'
 'Castillo, Nichols and Miller' 'Olson, Johnson and Figueroa'
 'Peterson, Davis and Serrano' 'Barry-Bell' 'Meyer and Sons'
 'Morris and Sons' 'Kennedy-Johnston' 'Davies, Salas and Clark'
 'Carlson-Gray' 'Ortega Inc' 'Porter, Sanchez and Fisher'
 'Martinez-Graham' 'Flores-Pope' 'Bell Inc' 'Strickland, Sims and Gray'
 'King, Schneider and Banks' 'Waller-Nguyen' 'Nichols-Barnes'
 'Smith Group' 'Barton Group' 'Roberts, Griffith and Clark'
 'Gibson and Sons' 'Hale Ltd' 'Roberson, Marquez and Mcdowell' 'Moore LLC'
 'Cruz, Branch and Pierce' 'Rios Group' 'Simmons PLC' 'Smith-Rodriguez'
 'Gutierrez, Anthony and Shannon' 'Murray Inc' 'Sanders-Hutchinson'
 'Carey-Ramos' 'Barber Ltd' 'Terry Inc' 'Huerta PLC'
 'Wilson, Watkins and Moore' 'Alexander-Mendoza'
 'Sanchez, Mendez and Hill' 'Bishop, Martinez and Robinson'
 'Allen, Ramsey and Cortez' 'Roach-Wheeler' 'Fields, Bell and Ferguson'
 'Gonzalez Inc' 'Henderson Group' 'Leon and Sons' 'Alvarado LLC'
 'Lopez, Roach and Roach' 'Lopez-Gonzalez' 'Brooks-Mccarty'
 'Madden, Burke and Norris' 'Turner-Bell' 'Bates-Johnson' 'Nelson-White'
 'Baker-Mcdonald' 'Murray, Fisher and Johnson' 'Frazier Inc'
 'Cordova-Hernandez' 'Kelley-Brown' 'Johnston, Shelton and Sellers'
 'Wilkerson-Woods' 'Alexander Inc' 'Curtis Ltd'
 'Anderson, Adams and Roberts' 'Barker, Gibbs and Lopez' 'Young-Jackson'
 'Sparks-Berry' 'Jones, Ortega and Rubio' 'Blankenship-Lewis'
 'Harris Group' 'Davis-Kennedy' 'Mcdaniel-Bates' 'Abbott-Robinson'
 'Small Ltd' 'Sutton, Day and Brooks' 'Davis-Glenn' 'Rojas-Cook'
 'Goodwin, Acosta and Chan' 'Roth-Mathews' 'Lozano-Miller' 'Mitchell PLC'
 'Taylor-Lyons' 'Cruz, Murphy and Santos' 'Roy-Hancock'
 'Bowers, Gonzalez and Simmons' 'Raymond, Kelly and Yates' 'Porter Inc'
 'Hill, Davis and Stewart' 'Smith, James and Alvarado'
 'Jackson, Miller and Porter' 'Kim LLC' 'Davis, Maldonado and Palmer'
 'Roberts, Howard and Bender' 'Torres Ltd' 'Phillips Inc'
 'Harrington, Jimenez and Carr' 'Moran, Mcmillan and Jones' 'Baird PLC'
 'Macdonald, Hale and Garcia' 'Spencer, Eaton and Young' 'Johnson-Green'
 'Daniel, Schroeder and Morse' 'Elliott LLC' 'Hill PLC' 'Johnson-Farley'
 'Jones Group' 'Beck Inc' 'Smith-Thomas' 'Randall-Wagner' 'Lewis-Deleon'
 'Pitts, Johnson and Humphrey' 'Nelson Inc' 'Johnson, Wheeler and Fischer'
 'Williams-Flores' 'Gardner, Garcia and Valenzuela'
 'Walter, Gonzales and Potter' 'House, James and Miller'
 'Doyle, Clark and Campbell' 'Phelps, Graham and Hayes'
 'Holland, Caldwell and Oliver' 'Schwartz, Holland and Mccarthy'
 'Schultz, Gross and Morrow' 'Jackson Ltd' 'Valencia, Floyd and Jordan'
 'Reyes, Houston and Esparza' 'Smith PLC' 'Beck Group'
 'Young, Moran and Morris' 'Cunningham-Wyatt' 'Smith, Walker and Jackson'
 'Perez-Green' 'Daniels-Kim' 'Bates, Owen and Wade' 'Blair-Randolph'
 'Cole-Stein' 'Clark-Taylor' 'Smith, Wilson and Johnston' 'Booker Ltd'
 'Jones, Calderon and Finley' 'Rosales-Stevens' 'Shaw Group' 'Nelson Ltd'
 'Gonzales LLC' 'Martinez and Sons' 'Townsend Inc' 'Taylor-Matthews'
 'Vega Ltd' 'Young-Bennett' 'Mitchell-Hunt' 'Smith-Wilkins'
 'Wilkerson and Sons' 'Martin-Wright' 'Sanders-Hale' 'Warren Group'
 'Wilson PLC' 'Davis, Cruz and Schaefer' 'Collins, Oconnor and Blake'
 'Boyd, Padilla and Simpson' 'Adams-Young' 'Miller Inc' 'Chan PLC'
 'Spencer, Gibson and Arias' 'Phillips-Moore' 'Knox and Sons'
 'Barnes, Castro and Curtis' 'Barron-Casey' 'Gomez LLC' 'Green LLC'
 'Owens-Johnson' 'Cole LLC' 'Waters-Bass' 'Cook Inc' 'Maddox PLC'
 'Freeman, Decker and Johnson' 'Mclean, Lopez and Stephens'
 'Love-Montgomery' 'Torres-Dunlap' 'Kelly, Cummings and Ward'
 'Williams-Manning' 'Dickerson, Mason and Lyons' 'Cross and Sons'
 'Morris, Mcpherson and Edwards' 'Smith LLC' 'Moore-Flowers' 'Willis-Luna'
 'Gross and Sons' 'Hopkins, Mora and Green' 'Jenkins-Hughes' 'Chan Group'
 'Chang, Estrada and Peters' 'Williams Inc' 'Mendez, Jones and Montgomery'
 'Whitney-Fields' 'Trevino Ltd' 'Carson, Hernandez and Sherman'
 'Hunter, Bell and Griffin' 'Nelson and Sons' 'Mathews-Harrison'
 'Mueller, Savage and Hudson' 'Oliver, Ross and Johnson'
 'Andrade, Gross and Wallace' 'Morgan-Blackwell' 'Ingram PLC'
 'Carroll-Stanley' 'Rodriguez LLC' 'Patterson Inc' 'Chandler-Roberts'
 'Cook, Jackson and Griffith' 'Burns-Smith' 'Woodward-Jensen' 'Dixon LLC'
 'Walsh-Jones' 'Herrera, Clark and Brown' 'Yates-Avery' 'Hayes Inc'
 'Sanchez-Cummings' 'Pugh Group' 'Sullivan-Golden'
 'Perry, Perez and Carter' 'Hunt, Lee and Winters' 'Henry PLC'
 'Carpenter-Wright' 'Collins Inc' 'Callahan-Olsen' 'Little-Novak'
 'Rowe PLC' 'Morris, Mcintyre and Austin' 'Davis-Lutz' 'Caldwell PLC'
 'Ortega-Webb' 'Hopkins and Sons' 'Bailey, Burke and Green'
 'Williams, Simpson and Waters' 'Fox Inc' 'West-Reilly' 'Sanders and Sons'
 'Ferguson, Henderson and Watson' 'Reynolds Group' 'Reid-Johnson'
 'Stevens-Lopez' 'Osborne LLC' 'Gonzalez, Dunn and Oconnell' 'Ruiz-Oneal'
 'Owens, Johnson and Anderson' 'Chavez-Grimes' 'Todd-Jackson' 'Clark Inc'
 'Pratt Ltd' 'Davis, Hardin and Merritt' 'Scott and Sons'
 'Collins, Hughes and Palmer' 'Mcdonald-Howell' 'Chen, Walker and Fisher'
 'Rodriguez, Robinson and Conway' 'Valenzuela-Garrett'
 'Obrien, King and Robinson' 'Rocha, Johnson and Dunlap' 'Salazar PLC'
 'Avery PLC' 'Fox-Perez' 'Bishop-Singleton' 'Rodriguez, Thomas and Foster'
 'Hawkins-Novak' 'Carr Group' 'Webster and Sons' 'Pearson-Barry'
 'Moreno-Melton' 'Pierce Group' 'Bush-Murray' 'Brown-Stephens'
 'Hughes PLC' 'Peterson, Lee and Moore' 'Cruz-Morrow' 'Barry Group'
 'Adams-Meyer' 'Jenkins Group' 'Payne Inc' 'Bell-Newman' 'Ramos Group'
 'Reyes-Stewart' 'Wright-Hogan' 'Shepherd and Sons' 'Livingston Inc'
 'Graham PLC' 'Page, Smith and Davis' 'Randolph-Bauer' 'Young-Luna'
 'Butler-Phillips' 'Nguyen, Chan and Brown' 'Hancock-Jackson' 'Rowe-Chen'
 'Cruz and Sons' 'Bennett Inc' 'Arroyo-Henderson' 'Ayers-Lewis'
 'Mendoza LLC' 'Hall-Bailey' 'Patterson-Collins' 'Koch Inc' 'Reed LLC'
 'Ballard, Stanley and Hill' 'Combs Ltd' 'Jacobs PLC' 'Cunningham Ltd'
 'Martin, Richardson and Snow' 'Harmon, Hunt and Daniels'
 'Mayer, Hawkins and Day' 'Martin, Sosa and Fleming'
 'Martinez, Armstrong and Carroll' 'Carr-Morrison'
 'Stafford, Johns and Dunn' 'Adams and Sons' 'Ramirez Inc'
 'Barnes and Sons' 'Bryant, Jacobson and West' 'Butler-Richardson'
 'Lawrence-Clark' 'Rodriguez and Sons' 'Jackson-Good' 'Tate-Reed'
 'Todd Group' 'Martin, Cohen and Haynes' 'Frederick LLC'
 'Abbott, Brooks and Moreno' 'Simmons Group' 'Manning Ltd'
 'Villegas, Chen and Campos' 'Wong-Wilson' 'Parker Group'
 'Conner, Martinez and Ward' 'Davis, Hughes and Leblanc' 'Andrews Inc'
 'Schneider-Suarez' 'Martinez, Davis and Simmons' 'Hester-Vaughn'

In [3]:
import re
import pandas as pd
df=pd.read_csv("C:/Users/VISHWA PRIYARANJAN/OneDrive/Desktop/Labmantrix_Internship/providers_data.csv")
df

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577
...,...,...,...,...,...,...
995,996,"Vasquez, Ruiz and Flowers",Restaurant,"84308 Justin Stravenue\nNew Amberside, NE 53447",Williamview,+1-319-378-7627x0682
996,997,Garza-Williams,Catering Service,"08864 Figueroa Radial Suite 948\nJennaberg, AZ...",East Rossside,001-924-441-3963x746
997,998,Novak Group,Grocery Store,"934 Zachary Run\nMelissamouth, WY 02729",Joshuastad,(903)642-1969x3300
998,999,Moody Ltd,Grocery Store,"17580 Ernest Hills\nLake Michaelmouth, OR 56416",Stevenchester,637.300.3664x4880
999,1000,Jenkins-Brooks,Restaurant,"53390 Evans Rapids Suite 982\nLake Meghan, MO ...",Brendantown,266-324-3458x95775

In [8]:
import pandas as pd

# Load the CSV file
df = pd.read_csv("C:/Users/VISHWA PRIYARANJAN/OneDrive/Desktop/Labmantrix_Internship/providers_data.csv")

# Select a specific column, e.g., 'Contact'
contact_column = df['Contact']

# Display the column
print(contact_column)

# If you want the first few rows only
print(contact_column.head())

0           +1-600-220-0480
1      +1-925-283-8901x6297
2          001-517-295-2206
3          556.944.8935x401
4              193.714.6577
               ...
995    +1-319-378-7627x0682
996    001-924-441-3963x746
997      (903)642-1969x3300
998       637.300.3664x4880
999      266-324-3458x95775
Name: Contact, Length: 1000, dtype: object
0         +1-600-220-0480
1    +1-925-283-8901x6297
2        001-517-295-2206
3        556.944.8935x401
4            193.714.6577
Name: Contact, dtype: object

In [9]:
import pandas as pd
import re

# Function to keep only digits and optional leading '+'
def clean_contact_digits_only(contact):
    contact = str(contact)
    if contact.startswith('+'):
        # Keep '+' and remove non-digits from the rest
        return '+' + re.sub(r'\D', '', contact[1:])
    else:
        # Remove all non-digits
        return re.sub(r'\D', '', contact)

# Apply cleaning
df['Clean_Contact'] = df['Contact'].apply(clean_contact_digits_only)

# Save cleaned file
df.to_csv("providers_data_cleaned_digits.csv", index=False)

print("Cleaned file saved as providers_data_cleaned_digits.csv")

Cleaned file saved as providers_data_cleaned_digits.csv

In [10]:
df

,Provider_ID,Name,Type,Address,City,Contact,Clean_Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+1-600-220-0480,+16002200480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297,+192528389016297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206,0015172952206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401,5569448935401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577,1937146577
...,...,...,...,...,...,...,...
995,996,"Vasquez, Ruiz and Flowers",Restaurant,"84308 Justin Stravenue\nNew Amberside, NE 53447",Williamview,+1-319-378-7627x0682,+131937876270682
996,997,Garza-Williams,Catering Service,"08864 Figueroa Radial Suite 948\nJennaberg, AZ...",East Rossside,001-924-441-3963x746,0019244413963746
997,998,Novak Group,Grocery Store,"934 Zachary Run\nMelissamouth, WY 02729",Joshuastad,(903)642-1969x3300,90364219693300
998,999,Moody Ltd,Grocery Store,"17580 Ernest Hills\nLake Michaelmouth, OR 56416",Stevenchester,637.300.3664x4880,63730036644880
999,1000,Jenkins-Brooks,Restaurant,"53390 Evans Rapids Suite 982\nLake Meghan, MO ...",Brendantown,266-324-3458x95775,266324345895775

In [11]:
df = df.drop(columns=['Contact'])

In [12]:
df

,Provider_ID,Name,Type,Address,City,Clean_Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,+16002200480
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+192528389016297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,0015172952206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,5569448935401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,1937146577
...,...,...,...,...,...,...
995,996,"Vasquez, Ruiz and Flowers",Restaurant,"84308 Justin Stravenue\nNew Amberside, NE 53447",Williamview,+131937876270682
996,997,Garza-Williams,Catering Service,"08864 Figueroa Radial Suite 948\nJennaberg, AZ...",East Rossside,0019244413963746
997,998,Novak Group,Grocery Store,"934 Zachary Run\nMelissamouth, WY 02729",Joshuastad,90364219693300
998,999,Moody Ltd,Grocery Store,"17580 Ernest Hills\nLake Michaelmouth, OR 56416",Stevenchester,63730036644880
999,1000,Jenkins-Brooks,Restaurant,"53390 Evans Rapids Suite 982\nLake Meghan, MO ...",Brendantown,266324345895775

In [13]:
df=pd.read_csv("C:/Users/VISHWA PRIYARANJAN/OneDrive/Desktop/Labmantrix_Internship/claims_data.csv")
df

     Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0           1      164          908    Pending   3/5/2025 05:26
1           2      353          391  Cancelled  3/11/2025 10:24
2           3      626          492  Completed   3/21/2025 0:59
3           4       61          933  Cancelled   3/4/2025 09:08
4           5      345          229    Pending  3/14/2025 15:17
..        ...      ...          ...        ...              ...
995       996      855          211  Completed  3/13/2025 19:40
996       997      980          746  Cancelled  3/17/2025 22:04
997       998      832          967  Cancelled  3/13/2025 18:00
998       999      917           90  Completed   3/1/2025 15:31
999      1000      596          950  Cancelled  3/13/2025 12:51

[1000 rows x 5 columns]

In [14]:
# Fetching all the columns of dataset
df.columns

Index(['Claim_ID', 'Food_ID', 'Receiver_ID', 'Status', 'Timestamp'], dtype='object')

In [15]:
# Dataset Duplicate Value Count
duplicate_count = df.duplicated().sum()
print(f'Duplicate values count: {duplicate_count}')

Duplicate values count: 0

In [16]:
# Data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Claim_ID     1000 non-null   int64
 1   Food_ID      1000 non-null   int64
 2   Receiver_ID  1000 non-null   int64
 3   Status       1000 non-null   object
 4   Timestamp    1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

In [17]:
# Check Unique Values for each variable.
for column in df.columns:
    unique_values = df[column].unique()
    print(f"Unique values for {column}:")
    print(unique_values)
    print("\n")

Unique values for Claim_ID:
[   1    2    3    4    5    6    7    8    9   10   11   12   13   14
   15   16   17   18   19   20   21   22   23   24   25   26   27   28
   29   30   31   32   33   34   35   36   37   38   39   40   41   42
   43   44   45   46   47   48   49   50   51   52   53   54   55   56
   57   58   59   60   61   62   63   64   65   66   67   68   69   70
   71   72   73   74   75   76   77   78   79   80   81   82   83   84
   85   86   87   88   89   90   91   92   93   94   95   96   97   98
   99  100  101  102  103  104  105  106  107  108  109  110  111  112
  113  114  115  116  117  118  119  120  121  122  123  124  125  126
  127  128  129  130  131  132  133  134  135  136  137  138  139  140
  141  142  143  144  145  146  147  148  149  150  151  152  153  154
  155  156  157  158  159  160  161  162  163  164  165  166  167  168
  169  170  171  172  173  174  175  176  177  178  179  180  181  182
  183  184  185  186  187  188  189  190  191  192  193  194  195  196
  197  198  199  200  201  202  203  204  205  206  207  208  209  210
  211  212  213  214  215  216  217  218  219  220  221  222  223  224
  225  226  227  228  229  230  231  232  233  234  235  236  237  238
  239  240  241  242  243  244  245  246  247  248  249  250  251  252
  253  254  255  256  257  258  259  260  261  262  263  264  265  266
  267  268  269  270  271  272  273  274  275  276  277  278  279  280
  281  282  283  284  285  286  287  288  289  290  291  292  293  294
  295  296  297  298  299  300  301  302  303  304  305  306  307  308
  309  310  311  312  313  314  315  316  317  318  319  320  321  322
  323  324  325  326  327  328  329  330  331  332  333  334  335  336
  337  338  339  340  341  342  343  344  345  346  347  348  349  350
  351  352  353  354  355  356  357  358  359  360  361  362  363  364
  365  366  367  368  369  370  371  372  373  374  375  376  377  378
  379  380  381  382  383  384  385  386  387  388  389  390  391  392
  393  394  395  396  397  398  399  400  401  402  403  404  405  406
  407  408  409  410  411  412  413  414  415  416  417  418  419  420
  421  422  423  424  425  426  427  428  429  430  431  432  433  434
  435  436  437  438  439  440  441  442  443  444  445  446  447  448
  449  450  451  452  453  454  455  456  457  458  459  460  461  462
  463  464  465  466  467  468  469  470  471  472  473  474  475  476
  477  478  479  480  481  482  483  484  485  486  487  488  489  490
  491  492  493  494  495  496  497  498  499  500  501  502  503  504
  505  506  507  508  509  510  511  512  513  514  515  516  517  518
  519  520  521  522  523  524  525  526  527  528  529  530  531  532
  533  534  535  536  537  538  539  540  541  542  543  544  545  546
  547  548  549  550  551  552  553  554  555  556  557  558  559  560
  561  562  563  564  565  566  567  568  569  570  571  572  573  574
  575  576  577  578  579  580  581  582  583  584  585  586  587  588
  589  590  591  592  593  594  595  596  597  598  599  600  601  602
  603  604  605  606  607  608  609  610  611  612  613  614  615  616
  617  618  619  620  621  622  623  624  625  626  627  628  629  630
  631  632  633  634  635  636  637  638  639  640  641  642  643  644
  645  646  647  648  649  650  651  652  653  654  655  656  657  658
  659  660  661  662  663  664  665  666  667  668  669  670  671  672
  673  674  675  676  677  678  679  680  681  682  683  684  685  686
  687  688  689  690  691  692  693  694  695  696  697  698  699  700
  701  702  703  704  705  706  707  708  709  710  711  712  713  714
  715  716  717  718  719  720  721  722  723  724  725  726  727  728
  729  730  731  732  733  734  735  736  737  738  739  740  741  742
  743  744  745  746  747  748  749  750  751  752  753  754  755  756
  757  758  759  760  761  762  763  764  765  766  767  768  769  770
  771  772  773  774  775  776  777  778  779  780  781  782  783  784
  785  786  787  788  789  790  791  792  793  794  795  796  797  798
  799  800  801  802  803  804  805  806  807  808  809  810  811  812
  813  814  815  816  817  818  819  820  821  822  823  824  825  826
  827  828  829  830  831  832  833  834  835  836  837  838  839  840
  841  842  843  844  845  846  847  848  849  850  851  852  853  854
  855  856  857  858  859  860  861  862  863  864  865  866  867  868
  869  870  871  872  873  874  875  876  877  878  879  880  881  882
  883  884  885  886  887  888  889  890  891  892  893  894  895  896
  897  898  899  900  901  902  903  904  905  906  907  908  909  910
  911  912  913  914  915  916  917  918  919  920  921  922  923  924
  925  926  927  928  929  930  931  932  933  934  935  936  937  938
  939  940  941  942  943  944  945  946  947  948  949  950  951  952
  953  954  955  956  957  958  959  960  961  962  963  964  965  966
  967  968  969  970  971  972  973  974  975  976  977  978  979  980
  981  982  983  984  985  986  987  988  989  990  991  992  993  994
  995  996  997  998  999 1000]


Unique values for Food_ID:
[164 353 626  61 345 273 735 382 278 669 290 694 951 426 684 320 465 952
 798 792 281 674 594 371 959  58 586 812 193 937 624 905 713 190 597 832
 757 141 415 886 611 825 457 556 746 895 251 543 507  37 534 438 690 225
 258 797 390 990 119 771 424 310 486 526 321 203 538 851 708 487 909 877
  65 504 188 153 964 641 805 925 197 790 829 233 912 378 136 600 505 673
 381 741 101  16 110 463 882  89 374 786 696 469 214 984 913 870 663 162
 864 108  56 460 160 715 252 765 202 589 318 660 640 109 650 256 493  46
 648 668 548 149 782   9 114 769 795 174 991 359 582 495 413 557 297 496
 446 579 427  67 918 616  19 873 609 157 226 277 813  35 425 437 787 644
 879  80 896 152 206 335 670  40 111 418 985  97 671 179 824 915  94 166
 893 406 603 227 479  33 794 998 523 488 837 550 924 217 981 325  69 208
 250 922 312 135 327 572 183 558 380 163 725 615 861 458 810 475 544 323
 940 822 191 520 467 137 602  22  92 367 518 738  73 568 417 304 906 766
 531 150 483 161 554 387  63 573 664 721 662  25 494  96 911  81 489 633
 358 763 464 651 610   6 107 294 904 143 657 254 747 888 241 116 777  49
 853 577 419 275 585 332 447 453 405  52 148 386 892 553 992 223 564 291
 262 528 730 608 398 840 536 562 743 687 207 695 788  84 330 677 804 866
  72 342 901 271 926 920 389 979 151 807 211 681  50  45 947 373 379 606
 722 995 525  88 826 485 900 716 632 221 257 755 412 115 245 356 129 230
 612 480 265 968 499 128 524 801 902 865  29 683 365 828 820  79 178 329
 492 517 699 216 404 215  11 958 593 260 844 144 565 106 654 194 969 891
   1 672  74 675 665 599 946 921 532 717 919 134  90 199 521 930 302 806
 282 295 744 448 697 340 819 515  59 592  39 220  64 444 261 560 187 962
 509 954 253 324 435 714 731 269 326 622 852 849 408 229 636 559 508 734
 284 705 970 619 723 319 555 172 403 307 910 165 522 727 570 200 433 764
 707 821 967 933 395 175 949 400 502 416 823 686 862 393 385 748 476 239
 113 739 120  55 210 421 156 932  78 875 945 232  98 180 749  86 224 349
 903 474 897 625 287 154 334 629 195 299 540 854 246  85 498 500 529 462
 634  30 138 833  83 836 298 791 999 703 973  36 898 228 396 784  23  47
 308 935 720 132 574 234 689 931 997  34 352 205 331  28 168 939 971 917
 961 676 655 104 988 240 775 928 685 950 131 100 701 614 181 767 243 929
 399 934  95 627  18 943 590 126  31 762 598 443 401 133 733 728 811 682
 512 778  70 125 647 652  71  66 173 410   3 510 839 461 692 972 338   7
 751  17 167 364 756 916 456 977 315  13 545 938 800 355 441 571 623 279
 293 580 237  43 317  41 407 639 189 680 989 481 236 459 732 601 384 292
 955 391 397 563 285 890 637 596 643 551 818 855 300 272 799 635 980]


Unique values for Receiver_ID:
[ 908  391  492  933  229  607  256  900  807  975  118  739  959  233
   97  836  588  729  399   88  493  757  526  717   10  487  189  769
  228  546  371  386  271   93  562  920  380  923  789  336  306   31
  569  412   48  373  678  804  255  517  449  737  601  452  295  149
  550  279   90  532  730  817  321   45  479  897   44  222   62  161
  185  324  151  795   35  876  638  695  554  624  425  918  310  632
   27   65  129  523  352  500  802  116  995  892  654  772  423   52
  619  589  467  909  196  723  970  855  840  957  384  927   75  101
  560  292  529  303  329  499  865  100  555  608  184  835  866  404
   12    3  548  392  831  168  985  128  936  390  420  462  612  763
  107  419  988   58  285  272  666  600  331  566  901  337  302  254
  297   63  440  353  374  134  140  947  745  276   96  262  339  983
  996  342  382   50  585  475  344  648  448  246  726  294  416  495
  439  350   94  917  949  571  531  747  398  874  594  388  787  631
  893  762  685  590  176  407  850  221  480  686  281  856  858  838
  301  112  728    4  103  154   98  250  701  489  138  541  201  926
  242  863    1  438   47  939  173  735  706  800   59  376  317  880
  477  442  906  172  481  849  538  109  360  808  282  718  298  102
  702  213  602   42  964   86  375  413  837  158  454  595  319  645
  287  774   66  883  759  703   34    6  514  997  187  199  488  854
  417  660  345  815  267  824  104  503  586  649  183  323  354   32
  368  811  643  756  497  473  999  160   87  283  245  797  258  873
  663  704  809    9  131  576  152  691  688  682  105   38  658    2
  696  990  190  904  249  673  843  494  553  547  418  965  414  950
  684  697  785  436  435  459  241  613  872  693  833  935  159  974
  406  220  791  544  144  357  972  869  977  537  237  299  679  507
  596  962  628  770  432  460  483  446  124  485  616  216  782  468
  929  665  508  385   74  879  322  921  269  266  912  565  195  888
  536  156  670  223  505  968  125   99  511  574  214  651  878   77
  671  320  370  347  821  274  806  127  960  396  327  372  676  180
  401  572  543  894   14  410  162  259  225  119  705  748  568  886
  882  742  126  946   33  215  859  629  203   68  400  542  341  637
  640  832  743  861  905  458  766  786  192  397  484  227  567  482
  367  725  618  963  524   69  814  437   28  767  113  687  944  993
  713 1000   43  765  799  864  204  902  884  314  130  681  205  570
  610  545   53  139  305  937  805  235  525  781  647  415  561  132
   15  150  394  174  877  293  754  674  668  650  348  844  218  810
  239  794  171  842  358   26  587  395  300  710  777  455  709    7
  472  219  212  351  275  788  355  328  181  559  715   56  194  429
  381  887  379  202  680  783  318   72  240  655  528  603   57  982
  899  617  122  891  389  533  870  362  549  778  164  700  378  771
  145  377  361   16  622  694  615  620  226  848  994  889  825  973
  738  510  903  768  852  426  916  934  558  424  841  945  938  170
  512  625  830  308  451  509   37  408  330  409  193  652  839  871
  755  875  191  943  984  211  746  967]


Unique values for Status:
['Pending' 'Cancelled' 'Completed']


Unique values for Timestamp:
['3/5/2025 05:26' '3/11/2025 10:24' '3/21/2025 0:59' '3/4/2025 09:08'
 '3/14/2025 15:17' '3/2/2025 02:50' '3/7/2025 23:58' '3/5/2025 07:07'
 '3/18/2025 2:26' '3/6/2025 19:57' '3/4/2025 23:01' '3/1/2025 21:55'
 '3/8/2025 13:08' '3/8/2025 16:08' '3/7/2025 08:00' '3/7/2025 06:17'
 '3/15/2025 16:49' '3/9/2025 02:04' '3/16/2025 6:32' '3/7/2025 12:15'
 '3/4/2025 00:29' '3/9/2025 03:11' '3/6/2025 22:55' '3/15/2025 0:51'
 '3/10/2025 07:10' '3/21/2025 4:34' '3/17/2025 5:07' '3/19/2025 4:15'
 '3/14/2025 17:09' '3/7/2025 04:05' '3/3/2025 02:06' '3/17/2025 12:57'
 '3/16/2025 14:26' '3/18/2025 1:17' '3/9/2025 21:40' '3/16/2025 3:41'
 '3/13/2025 3:50' '3/18/2025 5:29' '3/12/2025 09:57' '3/10/2025 04:14'
 '3/18/2025 4:33' '3/7/2025 12:22' '3/16/2025 17:08' '3/9/2025 13:02'
 '3/13/2025 7:07' '3/12/2025 02:30' '3/7/2025 10:45' '3/9/2025 23:13'
 '3/20/2025 13:44' '3/19/2025 13:18' '3/4/2025 10:59' '3/15/2025 14:58'
 '3/11/2025 09:43' '3/6/2025 01:44' '3/9/2025 00:13' '3/17/2025 14:29'
 '3/11/2025 21:44' '3/13/2025 15:12' '3/2/2025 23:28' '3/16/2025 15:03'
 '3/8/2025 21:06' '3/17/2025 14:07' '3/8/2025 21:30' '3/17/2025 13:38'
 '3/15/2025 15:00' '3/11/2025 19:22' '3/17/2025 17:22' '3/2/2025 04:49'
 '3/10/2025 06:15' '3/19/2025 15:41' '3/2/2025 15:34' '3/4/2025 10:49'
 '3/5/2025 23:42' '3/2/2025 13:20' '3/6/2025 11:44' '3/13/2025 22:38'
 '3/4/2025 22:57' '3/15/2025 13:41' '3/3/2025 01:13' '3/21/2025 1:58'
 '3/3/2025 09:13' '3/9/2025 13:21' '3/18/2025 19:37' '3/9/2025 02:10'
 '3/1/2025 09:52' '3/2/2025 09:25' '3/13/2025 10:50' '3/3/2025 02:47'
 '3/5/2025 20:34' '3/4/2025 16:53' '3/18/2025 18:10' '3/7/2025 11:12'
 '3/16/2025 11:30' '3/19/2025 5:04' '3/11/2025 10:52' '3/17/2025 7:56'
 '3/2/2025 02:12' '3/13/2025 13:30' '3/1/2025 02:21' '3/19/2025 19:11'
 '3/7/2025 02:19' '3/16/2025 6:03' '3/7/2025 12:06' '3/5/2025 00:36'
 '3/15/2025 23:07' '3/6/2025 03:27' '3/21/2025 0:40' '3/8/2025 09:17'
 '3/15/2025 16:28' '3/1/2025 00:09' '3/14/2025 11:40' '3/4/2025 22:00'
 '3/1/2025 23:11' '3/6/2025 10:36' '3/5/2025 00:19' '3/16/2025 17:02'
 '3/10/2025 01:30' '3/7/2025 04:56' '3/18/2025 15:38' '3/10/2025 23:33'
 '3/14/2025 11:44' '3/15/2025 0:40' '3/20/2025 13:50' '3/20/2025 6:55'
 '3/18/2025 21:40' '3/11/2025 16:19' '3/12/2025 16:00' '3/10/2025 19:29'
 '3/3/2025 15:50' '3/13/2025 8:51' '3/7/2025 05:12' '3/6/2025 02:44'
 '3/10/2025 13:34' '3/18/2025 0:37' '3/6/2025 19:49' '3/16/2025 22:58'
 '3/6/2025 03:22' '3/2/2025 19:39' '3/2/2025 01:08' '3/18/2025 1:19'
 '3/3/2025 20:25' '3/16/2025 10:00' '3/5/2025 11:36' '3/12/2025 14:06'
 '3/13/2025 5:28' '3/8/2025 01:42' '3/2/2025 13:48' '3/10/2025 04:52'
 '3/17/2025 15:13' '3/3/2025 13:37' '3/12/2025 05:30' '3/6/2025 03:51'
 '3/7/2025 16:14' '3/20/2025 12:04' '3/17/2025 8:27' '3/16/2025 5:59'
 '3/16/2025 14:13' '3/15/2025 0:35' '3/12/2025 15:27' '3/19/2025 19:48'
 '3/14/2025 22:58' '3/15/2025 10:31' '3/2/2025 09:04' '3/4/2025 03:24'
 '3/11/2025 04:53' '3/3/2025 23:05' '3/20/2025 1:38' '3/1/2025 16:18'
 '3/8/2025 00:38' '3/5/2025 19:34' '3/2/2025 17:02' '3/21/2025 2:08'
 '3/18/2025 6:41' '3/3/2025 18:22' '3/7/2025 21:27' '3/12/2025 01:34'
 '3/4/2025 20:52' '3/5/2025 05:55' '3/9/2025 09:23' '3/5/2025 01:27'
 '3/16/2025 9:20' '3/19/2025 1:41' '3/13/2025 12:37' '3/2/2025 04:01'
 '3/21/2025 4:05' '3/11/2025 21:04' '3/3/2025 12:36' '3/11/2025 22:19'
 '3/13/2025 9:32' '3/20/2025 9:21' '3/10/2025 11:59' '3/2/2025 10:05'
 '3/3/2025 02:13' '3/15/2025 9:44' '3/15/2025 20:49' '3/20/2025 19:37'
 '3/3/2025 21:41' '3/4/2025 01:17' '3/9/2025 03:22' '3/8/2025 21:48'
 '3/17/2025 19:09' '3/18/2025 8:50' '3/16/2025 13:08' '3/18/2025 4:10'
 '3/14/2025 3:27' '3/6/2025 16:41' '3/18/2025 16:07' '3/9/2025 07:30'
 '3/12/2025 23:25' '3/11/2025 22:06' '3/2/2025 12:10' '3/8/2025 00:30'
 '3/9/2025 09:19' '3/7/2025 08:09' '3/8/2025 11:37' '3/17/2025 23:16'
 '3/6/2025 08:04' '3/6/2025 20:46' '3/3/2025 08:55' '3/2/2025 23:05'
 '3/1/2025 23:38' '3/14/2025 23:06' '3/8/2025 19:20' '3/1/2025 16:48'
 '3/20/2025 20:00' '3/10/2025 14:59' '3/6/2025 05:40' '3/10/2025 10:07'
 '3/19/2025 23:40' '3/20/2025 4:11' '3/15/2025 22:39' '3/17/2025 4:43'
 '3/19/2025 18:07' '3/17/2025 6:35' '3/10/2025 15:40' '3/13/2025 19:29'
 '3/12/2025 00:27' '3/20/2025 15:24' '3/1/2025 21:11' '3/14/2025 12:59'
 '3/12/2025 02:23' '3/6/2025 13:16' '3/13/2025 2:42' '3/11/2025 02:32'
 '3/18/2025 16:16' '3/10/2025 05:50' '3/12/2025 07:34' '3/9/2025 03:12'
 '3/16/2025 9:29' '3/19/2025 21:41' '3/1/2025 15:16' '3/20/2025 3:22'
 '3/10/2025 10:56' '3/4/2025 03:59' '3/18/2025 17:31' '3/19/2025 8:03'
 '3/4/2025 02:28' '3/3/2025 06:16' '3/7/2025 13:30' '3/5/2025 15:11'
 '3/13/2025 13:58' '3/16/2025 0:40' '3/16/2025 9:37' '3/3/2025 13:21'
 '3/15/2025 7:39' '3/2/2025 07:07' '3/11/2025 01:30' '3/16/2025 11:58'
 '3/13/2025 14:01' '3/17/2025 9:23' '3/6/2025 12:00' '3/18/2025 4:45'
 '3/19/2025 0:34' '3/15/2025 22:55' '3/2/2025 11:36' '3/16/2025 11:54'
 '3/9/2025 12:24' '3/14/2025 3:18' '3/13/2025 17:05' '3/1/2025 12:21'
 '3/12/2025 17:17' '3/14/2025 7:06' '3/7/2025 08:11' '3/19/2025 8:45'
 '3/18/2025 14:32' '3/18/2025 20:45' '3/18/2025 2:15' '3/19/2025 2:29'
 '3/17/2025 2:03' '3/8/2025 12:13' '3/6/2025 07:49' '3/13/2025 20:27'
 '3/9/2025 13:31' '3/18/2025 6:45' '3/13/2025 18:39' '3/7/2025 18:01'
 '3/14/2025 17:04' '3/19/2025 6:08' '3/1/2025 03:03' '3/14/2025 16:21'
 '3/2/2025 07:53' '3/3/2025 18:50' '3/3/2025 12:42' '3/12/2025 00:49'
 '3/17/2025 18:55' '3/5/2025 00:09' '3/13/2025 21:15' '3/17/2025 18:23'
 '3/14/2025 2:19' '3/8/2025 21:25' '3/6/2025 21:22' '3/8/2025 12:44'
 '3/6/2025 10:07' '3/19/2025 12:18' '3/5/2025 22:09' '3/10/2025 22:44'
 '3/11/2025 05:40' '3/4/2025 20:11' '3/5/2025 05:34' '3/12/2025 01:29'
 '3/12/2025 18:14' '3/5/2025 05:22' '3/15/2025 13:58' '3/3/2025 22:57'
 '3/11/2025 14:05' '3/14/2025 14:41' '3/17/2025 16:49' '3/6/2025 15:44'
 '3/14/2025 3:09' '3/1/2025 06:24' '3/18/2025 18:37' '3/3/2025 02:40'
 '3/13/2025 8:50' '3/18/2025 17:27' '3/11/2025 19:10' '3/17/2025 11:49'
 '3/3/2025 19:58' '3/21/2025 4:08' '3/6/2025 23:14' '3/10/2025 23:31'
 '3/10/2025 14:46' '3/11/2025 06:57' '3/18/2025 15:08' '3/10/2025 21:51'
 '3/17/2025 12:29' '3/15/2025 6:06' '3/11/2025 20:37' '3/7/2025 05:24'
 '3/5/2025 19:39' '3/19/2025 18:27' '3/2/2025 10:41' '3/19/2025 7:00'
 '3/7/2025 21:29' '3/9/2025 15:33' '3/8/2025 23:39' '3/17/2025 6:07'
 '3/8/2025 02:25' '3/9/2025 12:56' '3/14/2025 22:15' '3/8/2025 05:54'
 '3/13/2025 19:31' '3/10/2025 21:47' '3/7/2025 03:03' '3/2/2025 18:29'
 '3/7/2025 19:46' '3/16/2025 11:59' '3/10/2025 02:34' '3/14/2025 17:07'
 '3/20/2025 3:44' '3/3/2025 09:19' '3/19/2025 10:49' '3/10/2025 14:14'
 '3/14/2025 2:51' '3/15/2025 21:23' '3/8/2025 05:43' '3/8/2025 13:50'
 '3/14/2025 23:15' '3/11/2025 18:33' '3/9/2025 09:09' '3/20/2025 5:46'
 '3/9/2025 10:55' '3/5/2025 23:56' '3/3/2025 21:27' '3/4/2025 09:36'
 '3/19/2025 21:23' '3/5/2025 01:43' '3/4/2025 19:08' '3/10/2025 18:36'
 '3/21/2025 0:15' '3/5/2025 16:12' '3/16/2025 12:18' '3/16/2025 23:56'
 '3/4/2025 14:58' '3/6/2025 17:22' '3/6/2025 19:27' '3/15/2025 12:26'
 '3/11/2025 00:28' '3/8/2025 00:59' '3/2/2025 08:42' '3/12/2025 23:03'
 '3/18/2025 2:49' '3/5/2025 08:16' '3/12/2025 18:28' '3/8/2025 08:56'
 '3/8/2025 21:36' '3/1/2025 15:29' '3/18/2025 16:53' '3/3/2025 11:44'
 '3/10/2025 20:51' '3/8/2025 19:31' '3/11/2025 13:35' '3/12/2025 07:04'
 '3/14/2025 7:18' '3/1/2025 16:52' '3/11/2025 09:41' '3/11/2025 04:00'
 '3/8/2025 14:48' '3/12/2025 10:29' '3/21/2025 5:41' '3/2/2025 13:00'
 '3/1/2025 15:13' '3/18/2025 7:28' '3/17/2025 0:53' '3/7/2025 15:13'
 '3/14/2025 18:15' '3/3/2025 01:58' '3/20/2025 11:53' '3/15/2025 13:30'
 '3/14/2025 12:40' '3/15/2025 21:14' '3/14/2025 10:48' '3/13/2025 3:13'
 '3/15/2025 2:41' '3/18/2025 13:00' '3/4/2025 03:32' '3/14/2025 21:06'
 '3/8/2025 11:28' '3/19/2025 16:01' '3/5/2025 12:55' '3/11/2025 03:57'
 '3/19/2025 8:55' '3/10/2025 21:31' '3/13/2025 2:49' '3/17/2025 11:37'
 '3/17/2025 6:16' '3/20/2025 20:03' '3/13/2025 8:06' '3/18/2025 16:04'
 '3/12/2025 22:16' '3/20/2025 5:18' '3/2/2025 16:44' '3/5/2025 04:11'
 '3/10/2025 03:13' '3/13/2025 7:50' '3/5/2025 20:10' '3/4/2025 16:22'
 '3/5/2025 21:04' '3/18/2025 11:00' '3/1/2025 03:32' '3/19/2025 21:43'
 '3/13/2025 16:21' '3/17/2025 17:09' '3/15/2025 7:13' '3/21/2025 4:51'
 '3/4/2025 21:52' '3/14/2025 11:39' '3/2/2025 06:57' '3/18/2025 10:26'
 '3/3/2025 13:34' '3/11/2025 13:18' '3/2/2025 20:18' '3/21/2025 5:08'
 '3/17/2025 23:08' '3/10/2025 04:38' '3/10/2025 17:30' '3/13/2025 15:25'
 '3/14/2025 13:15' '3/6/2025 17:49' '3/4/2025 11:54' '3/10/2025 19:51'
 '3/18/2025 6:30' '3/10/2025 06:44' '3/9/2025 11:20' '3/8/2025 07:16'
 '3/10/2025 09:41' '3/18/2025 5:15' '3/18/2025 7:39' '3/17/2025 4:48'
 '3/20/2025 15:31' '3/16/2025 15:13' '3/4/2025 02:43' '3/17/2025 5:29'
 '3/12/2025 12:22' '3/13/2025 21:31' '3/7/2025 03:28' '3/10/2025 18:56'
 '3/10/2025 05:39' '3/20/2025 12:41' '3/1/2025 04:09' '3/17/2025 15:43'
 '3/12/2025 09:35' '3/1/2025 18:00' '3/15/2025 19:57' '3/5/2025 20:17'

In [18]:
df.describe()

          Claim_ID      Food_ID  Receiver_ID
count  1000.000000  1000.000000  1000.000000
mean    500.500000   502.163000   492.437000
std     288.819436   292.462255   284.487869
min       1.000000     1.000000     1.000000
25%     250.750000   233.750000   256.000000
50%     500.500000   504.500000   480.500000
75%     750.250000   762.000000   742.250000
max    1000.000000   999.000000  1000.000000

In [19]:
#check for null values
df.isnull().sum()

Claim_ID       0
Food_ID        0
Receiver_ID    0
Status         0
Timestamp      0
dtype: int64

In [20]:
df=pd.read_csv("C:/Users/VISHWA PRIYARANJAN/OneDrive/Desktop/Labmantrix_Internship/receivers_data.csv")
df

,Receiver_ID,Name,Type,City,Contact
0,1,Donald Gomez,Shelter,Port Carlburgh,(955)922-5295
1,2,Laurie Ramos,Individual,Lewisburgh,761.042.1570
2,3,Ashley Mckee,NGO,South Randalltown,691-023-0094x856
3,4,Erika Rose,NGO,South Shaneville,8296491111
4,5,John Romero,Individual,Bakerport,067.491.0154
...,...,...,...,...,...
995,996,Matthew Curtis,Shelter,Lanechester,127-889-4442x1289
996,997,Amanda Cain,NGO,New Steven,+1-001-491-5601x5316
997,998,Theodore Briggs,Individual,South Sandra,930-609-9442x5031
998,999,Cheyenne Ramsey,NGO,Lake Jeffery,001-326-320-4816x15300
999,1000,April Miller,Shelter,Shelbychester,894-873-2652x23999

In [21]:
# Fetching all the columns of dataset
df.columns

Index(['Receiver_ID', 'Name', 'Type', 'City', 'Contact'], dtype='object')

In [22]:
# Dataset Duplicate Value Count
duplicate_count = df.duplicated().sum()
print(f'Duplicate values count: {duplicate_count}')

Duplicate values count: 0

In [23]:
# Data info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Receiver_ID  1000 non-null   int64
 1   Name         1000 non-null   object
 2   Type         1000 non-null   object
 3   City         1000 non-null   object
 4   Contact      1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

In [24]:
df.describe()

       Receiver_ID
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000

In [25]:
#check for null values
df.isnull().sum()

Receiver_ID    0
Name           0
Type           0
City           0
Contact        0
dtype: int64

In [26]:
# Function to keep only digits and optional leading '+'
def clean_Contact_digits_only(Contact):
    Contact = str(Contact)
    if Contact.startswith('+'):
        # Keep '+' and remove non-digits from the rest
        return '+' + re.sub(r'\D', '', Contact[1:])
    else:
        # Remove all non-digits
        return re.sub(r'\D', '', Contact)

# Apply cleaning
df['Clean_Contact'] = df['Contact'].apply(clean_Contact_digits_only)

# Save cleaned file
df.to_csv("providers_data_cleaned_digits.csv", index=False)

print("Cleaned file saved as providers_data_cleaned_digits.csv")

Cleaned file saved as providers_data_cleaned_digits.csv

In [27]:
df

,Receiver_ID,Name,Type,City,Contact,Clean_Contact
0,1,Donald Gomez,Shelter,Port Carlburgh,(955)922-5295,9559225295
1,2,Laurie Ramos,Individual,Lewisburgh,761.042.1570,7610421570
2,3,Ashley Mckee,NGO,South Randalltown,691-023-0094x856,6910230094856
3,4,Erika Rose,NGO,South Shaneville,8296491111,8296491111
4,5,John Romero,Individual,Bakerport,067.491.0154,0674910154
...,...,...,...,...,...,...
995,996,Matthew Curtis,Shelter,Lanechester,127-889-4442x1289,12788944421289
996,997,Amanda Cain,NGO,New Steven,+1-001-491-5601x5316,+100149156015316
997,998,Theodore Briggs,Individual,South Sandra,930-609-9442x5031,93060994425031
998,999,Cheyenne Ramsey,NGO,Lake Jeffery,001-326-320-4816x15300,001326320481615300
999,1000,April Miller,Shelter,Shelbychester,894-873-2652x23999,894873265223999

In [28]:
df = df.drop(columns=['Contact'])

In [29]:
df

,Receiver_ID,Name,Type,City,Clean_Contact
0,1,Donald Gomez,Shelter,Port Carlburgh,9559225295
1,2,Laurie Ramos,Individual,Lewisburgh,7610421570
2,3,Ashley Mckee,NGO,South Randalltown,6910230094856
3,4,Erika Rose,NGO,South Shaneville,8296491111
4,5,John Romero,Individual,Bakerport,0674910154
...,...,...,...,...,...
995,996,Matthew Curtis,Shelter,Lanechester,12788944421289
996,997,Amanda Cain,NGO,New Steven,+100149156015316
997,998,Theodore Briggs,Individual,South Sandra,93060994425031
998,999,Cheyenne Ramsey,NGO,Lake Jeffery,001326320481615300
999,1000,April Miller,Shelter,Shelbychester,894873265223999

In [2]:
import pandas as pd
df=pd.read_csv("C:/Users/VISHWA PRIYARANJAN/OneDrive/Desktop/Labmantrix_Internship/receivers_data.csv")
df

,Receiver_ID,Name,Type,City,Contact
0,1,Donald Gomez,Shelter,Port Carlburgh,(955)922-5295
1,2,Laurie Ramos,Individual,Lewisburgh,761.042.1570
2,3,Ashley Mckee,NGO,South Randalltown,691-023-0094x856
3,4,Erika Rose,NGO,South Shaneville,8296491111
4,5,John Romero,Individual,Bakerport,067.491.0154
...,...,...,...,...,...
995,996,Matthew Curtis,Shelter,Lanechester,127-889-4442x1289
996,997,Amanda Cain,NGO,New Steven,+1-001-491-5601x5316
997,998,Theodore Briggs,Individual,South Sandra,930-609-9442x5031
998,999,Cheyenne Ramsey,NGO,Lake Jeffery,001-326-320-4816x15300
999,1000,April Miller,Shelter,Shelbychester,894-873-2652x23999

In [3]:
df = df.drop(columns=['Contact'])

In [4]:
df

     Receiver_ID             Name        Type               City
0              1     Donald Gomez     Shelter     Port Carlburgh
1              2     Laurie Ramos  Individual         Lewisburgh
2              3     Ashley Mckee         NGO  South Randalltown
3              4       Erika Rose         NGO   South Shaneville
4              5      John Romero  Individual          Bakerport
..           ...              ...         ...                ...
995          996   Matthew Curtis     Shelter        Lanechester
996          997      Amanda Cain         NGO         New Steven
997          998  Theodore Briggs  Individual       South Sandra
998          999  Cheyenne Ramsey         NGO       Lake Jeffery
999         1000     April Miller     Shelter      Shelbychester

[1000 rows x 4 columns]

In [5]:
import pandas as pd
df=pd.read_csv("C:/Users/VISHWA PRIYARANJAN/OneDrive/Desktop/Labmantrix_Internship/receivers_data.csv")
df

,Receiver_ID,Name,Type,City,Contact
0,1,Donald Gomez,Shelter,Port Carlburgh,(955)922-5295
1,2,Laurie Ramos,Individual,Lewisburgh,761.042.1570
2,3,Ashley Mckee,NGO,South Randalltown,691-023-0094x856
3,4,Erika Rose,NGO,South Shaneville,8296491111
4,5,John Romero,Individual,Bakerport,067.491.0154
...,...,...,...,...,...
995,996,Matthew Curtis,Shelter,Lanechester,127-889-4442x1289
996,997,Amanda Cain,NGO,New Steven,+1-001-491-5601x5316
997,998,Theodore Briggs,Individual,South Sandra,930-609-9442x5031
998,999,Cheyenne Ramsey,NGO,Lake Jeffery,001-326-320-4816x15300
999,1000,April Miller,Shelter,Shelbychester,894-873-2652x23999

In [8]:
#check for null values
df.isnull().sum()

Receiver_ID    0
Name           0
Type           0
City           0
Contact        0
dtype: int64

In [15]:
import re
# Function to keep only digits and optional leading '+'
def clean_Contact_digits_only(Contact):
    Contact = str(Contact)
    if Contact.startswith('+'):
        # Keep '+' and remove non-digits from the rest
        return '+' + re.sub(r'\D', '', Contact[1:])
    else:
        # Remove all non-digits
        return re.sub(r'\D', '', Contact)

# Apply cleaning
df['Clean_Contact'] = df['Contact'].apply(clean_Contact_digits_only)

# Save cleaned file
df.to_csv("receivers_data.csv", index=False)

print("Cleaned file saved as receivers_data.csv")

KeyError: 'Contact'

In [12]:
df

,Receiver_ID,Name,Type,City,Contact,Clean_Contact
0,1,Donald Gomez,Shelter,Port Carlburgh,(955)922-5295,9559225295
1,2,Laurie Ramos,Individual,Lewisburgh,761.042.1570,7610421570
2,3,Ashley Mckee,NGO,South Randalltown,691-023-0094x856,6910230094856
3,4,Erika Rose,NGO,South Shaneville,8296491111,8296491111
4,5,John Romero,Individual,Bakerport,067.491.0154,0674910154
...,...,...,...,...,...,...
995,996,Matthew Curtis,Shelter,Lanechester,127-889-4442x1289,12788944421289
996,997,Amanda Cain,NGO,New Steven,+1-001-491-5601x5316,+100149156015316
997,998,Theodore Briggs,Individual,South Sandra,930-609-9442x5031,93060994425031
998,999,Cheyenne Ramsey,NGO,Lake Jeffery,001-326-320-4816x15300,001326320481615300
999,1000,April Miller,Shelter,Shelbychester,894-873-2652x23999,894873265223999

In [13]:
df = df.drop(columns=['Contact'])

In [14]:
df

,Receiver_ID,Name,Type,City,Clean_Contact
0,1,Donald Gomez,Shelter,Port Carlburgh,9559225295
1,2,Laurie Ramos,Individual,Lewisburgh,7610421570
2,3,Ashley Mckee,NGO,South Randalltown,6910230094856
3,4,Erika Rose,NGO,South Shaneville,8296491111
4,5,John Romero,Individual,Bakerport,0674910154
...,...,...,...,...,...
995,996,Matthew Curtis,Shelter,Lanechester,12788944421289
996,997,Amanda Cain,NGO,New Steven,+100149156015316
997,998,Theodore Briggs,Individual,South Sandra,93060994425031
998,999,Cheyenne Ramsey,NGO,Lake Jeffery,001326320481615300
999,1000,April Miller,Shelter,Shelbychester,894873265223999

In [16]:
# Save the updated DataFrame to a new file
df.to_csv("receivers_data.csv", index=False)

print("File saved as receivers_data.csv")

File saved as receivers_data.csv

In [17]:
import pandas as pd
import sqlite3

In [19]:
# Load data from CSV files
providers = pd.read_csv("C:/Users/VISHWA PRIYARANJAN/OneDrive/Desktop/Labmantrix_Internship/providers_data.csv")
receivers = pd.read_csv("C:/Users/VISHWA PRIYARANJAN/OneDrive/Desktop/Labmantrix_Internship/receivers_data.csv")
food_listings = pd.read_csv("C:/Users/VISHWA PRIYARANJAN/OneDrive/Desktop/Labmantrix_Internship/food_listings_data.csv")
claims = pd.read_csv("C:/Users/VISHWA PRIYARANJAN/OneDrive/Desktop/Labmantrix_Internship/claims_data.csv")

In [20]:
# Database connection
conn = sqlite3.connect("food_wastage_mgt_system.db")
cursor = conn.cursor()

In [21]:
# Creating tables
cursor.execute('''
    CREATE TABLE IF NOT EXISTS providers (
        Provider_ID INTEGER PRIMARY KEY,
        Name TEXT,
        Type TEXT,
        Address TEXT,
        City TEXT,
        Contact TEXT
    )
''')

In [2]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd

# --- MySQL server connection (no DB selected yet) ---
server_conn = pymysql.connect(
    host='localhost',                                        # MySQL server host/IP
    user='root',                                             # your MySQL username
    password='*******'                                   # your MySQL password
)
server_cursor = server_conn.cursor()

# Create database if not exists
server_cursor.execute("CREATE DATABASE IF NOT EXISTS food_wastage_mgt_system")
print("✅ Database 'food_wastage_mgt_system' created or already exists.")

server_cursor.close()
server_conn.close()

# --- Connect to the specific database ---
db_conn = pymysql.connect(
    host='localhost',
    user='root',
    password='vishwapriya',
    database='food_wastage_mgt_system'
)
cursor = db_conn.cursor()

# --- Create tables ---
cursor.execute("""
CREATE TABLE IF NOT EXISTS providers (
    Provider_ID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(255) NOT NULL,
    Type VARCHAR(100),
    Address TEXT,
    City VARCHAR(100),
    Contact VARCHAR(50)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS receivers (
    Receiver_ID INT AUTO_INCREMENT PRIMARY KEY,
    Name VARCHAR(255),
    Type VARCHAR(100),
    City VARCHAR(100),
    Contact VARCHAR(50)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS food_listings (
    Food_ID INT AUTO_INCREMENT PRIMARY KEY,
    Food_Name VARCHAR(255),
    Quantity INT,
    Expiry_Date DATE,
    Provider_ID INT,
    Provider_Type VARCHAR(100),
    Location VARCHAR(100),
    Food_Type VARCHAR(50),
    Meal_Type VARCHAR(50),
    FOREIGN KEY (Provider_ID) REFERENCES providers(Provider_ID)
)
""")

cursor.execute("""
CREATE TABLE IF NOT EXISTS claims (
    Claim_ID INT AUTO_INCREMENT PRIMARY KEY,
    Food_ID INT,
    Receiver_ID INT,
    Quantity INT,
    Status VARCHAR(50),
    Timestamp DATETIME,
    FOREIGN KEY (Food_ID) REFERENCES food_listings(Food_ID),
    FOREIGN KEY (Receiver_ID) REFERENCES receivers(Receiver_ID)
)
""")

db_conn.commit()
print("✅ Tables created successfully.")

cursor.close()
db_conn.close()

✅ Database 'food_wastage_mgt_system' created or already exists.
✅ Tables created successfully.

Questions to be Answered (SQL Queries & Analysis)
----------------------------------------------------
Food Providers & Receivers
------------------------------
Q.1. How many food providers and receivers are there in each city?
===> 
SELECT City, COUNT() AS providers_count
FROM providers
GROUP BY City;
SELECT City, COUNT() AS receivers_count
FROM receivers
GROUP BY City;
Q.2. Which type of food provider (restaurant, grocery store, etc.) contributes the most food?
====> 
SELECT Provider_Type, SUM(Quantity) AS total_quantity
FROM food_listings
GROUP BY Provider_Type
ORDER BY total_quantity DESC
LIMIT 1;
Q.3. What is the contact information of food providers in a specific city?
=====>
SELECT Name, Contact, Address
FROM providers
WHERE City = :city;
Q.4. Which receivers have claimed the most food?
=====> 
SELECT r.Receiver_ID, r.Name, SUM(c.Quantity) AS total_claimed
FROM claims c
JOIN receivers r ON c.Receiver_ID = r.Receiver_ID
GROUP BY r.Receiver_ID
ORDER BY total_claimed DESC;

Food Listings & Availability
------------------------------
Q.5. What is the total quantity of food available from all providers?
=====>
SELECT COALESCE(SUM(Quantity),0) AS total_available
FROM food_listings;
Q.6. Which city has the highest number of food listings?
=====>
SELECT Location, COUNT(*) AS listings_count
FROM food_listings
GROUP BY Location
ORDER BY listings_count DESC
LIMIT 1;
Q.7. What are the most commonly available food types?
=====>
SELECT Food_Type, COUNT(*) AS count_type
FROM food_listings
GROUP BY Food_Type
ORDER BY count_type DESC;

Claims & Distribution
-------------------------
Q.8. How many food claims have been made for each food item?
=====>
SELECT f.Food_ID, f.Food_Name, COUNT(c.Claim_ID) AS claims_count
FROM food_listings f
LEFT JOIN claims c ON f.Food_ID = c.Food_ID
GROUP BY f.Food_ID;
Q.9. Which provider has had the highest number of successful food claims?
=====>
SELECT p.Provider_ID, p.Name, COUNT(c.Claim_ID) AS completed_claims
FROM claims c
JOIN food_listings f ON c.Food_ID = f.Food_ID
JOIN providers p ON f.Provider_ID = p.Provider_ID
WHERE c.Status = 'Completed'
GROUP BY p.Provider_ID
ORDER BY completed_claims DESC
LIMIT 1;
Q.10. What percentage of food claims are completed vs. pending vs. canceled?
======>
SELECT Status, COUNT(*) * 100.0 / (SELECT COUNT(*) FROM claims) AS pct
FROM claims
GROUP BY Status;

Analysis & Insights
---------------------
Q.11. What is the average quantity of food claimed per receiver?
======>
SELECT r.Receiver_ID, r.Name, AVG(c.Quantity) AS avg_claim_qty
FROM claims c
JOIN receivers r ON c.Receiver_ID = r.Receiver_ID
GROUP BY r.Receiver_ID;
Q.12. Which meal type (breakfast, lunch, dinner, snacks) is claimed the most?
======>
SELECT f.Meal_Type, SUM(c.Quantity) AS total_claimed
FROM claims c
JOIN food_listings f ON c.Food_ID = f.Food_ID
GROUP BY f.Meal_Type
ORDER BY total_claimed DESC;
Q.13. What is the total quantity of food donated by each provider?
======>
SELECT p.Provider_ID, p.Name, SUM(f.Quantity) AS total_donated
FROM food_listings f
JOIN providers p ON f.Provider_ID = p.Provider_ID
GROUP BY p.Provider_ID
ORDER BY total_donated DESC;
Q.14. Which food items are set to expire within the next 7 days, and in which cities are they located?
=====>
SELECT Food_Name, Quantity, Expiry_Date, Location
FROM food_listings
WHERE date(Expiry_Date) <= date('now', '+7 days')
ORDER BY Expiry_Date ASC;
Q.15. Which providers have the highest number of food listings expiring within the next 7 days?
=====>
SELECT p.Name AS Provider_Name, COUNT(f.Food_ID) AS expiring_count
FROM food_listings f
JOIN providers p ON f.Provider_ID = p.Provider_ID
WHERE date(f.Expiry_Date) <= date('now', '+7 days')
GROUP BY p.Name
ORDER BY expiring_count DESC;

In [ ]:
# Streamlit App Code (app_mysql.py)
# Save this as app_mysql_crud.py, update the DB credentials at the top, then run:
# app_mysql_crud.py
# app_mysql_crud.py

# app_mysql_crud.py
import streamlit as st
import pandas as pd
from sqlalchemy import create_engine, text
from datetime import date, datetime

# ========= DB CONFIG =========
DB_USER = "root"              # <- change
DB_PASS = "your_password"     # <- change
DB_HOST = "localhost"
DB_NAME = "food_wastage_mgt_system"

engine = create_engine(f"mysql+pymysql://{DB_USER}:{DB_PASS}@{DB_HOST}/{DB_NAME}", pool_pre_ping=True, future=True)

st.set_page_config(page_title="Food Wastage Management (MySQL)", layout="wide")
st.title("🍲 Local Food Wastage Management System — MySQL")

# ========= HELPERS =========
@st.cache_data(ttl=300)
def load_joined_listings():
    q = """
    SELECT f.Food_ID, f.Food_Name, f.Quantity, f.Expiry_Date, f.Location AS City,
           f.Food_Type, f.Meal_Type,
           p.Provider_ID, p.Name AS Provider_Name, p.Type AS Provider_Type, p.Contact, p.Address
    FROM food_listings f
    LEFT JOIN providers p ON f.Provider_ID = p.Provider_ID
    ORDER BY f.Expiry_Date ASC, f.Food_ID DESC
    """
    return pd.read_sql_query(q, engine)

@st.cache_data(ttl=300)
def table_df(table):
    return pd.read_sql_query(f"SELECT * FROM {table}", engine)

def invalidate_cache():
    load_joined_listings.clear()
    table_df.clear()

def run_select(sql, params=None):
    with engine.connect() as conn:
        return pd.read_sql_query(text(sql), conn, params=params)

def exec_write(sql, params=None):
    with engine.begin() as conn:
        conn.execute(text(sql), params or {})

# ========= NAV =========
menu = st.sidebar.radio(
    "Navigation",
    ["Dashboard", "Browse & Filter", "Providers", "Receivers", "Listings", "Claim Food", "Manage Claims", "Analytics"]
)

# ========= DASHBOARD =========
if menu == "Dashboard":
    c1, c2, c3, c4 = st.columns(4)
    try:
        prov_ct = run_select("SELECT COUNT(*) c FROM providers").iloc[0,0]
        recv_ct = run_select("SELECT COUNT(*) c FROM receivers").iloc[0,0]
        list_ct = run_select("SELECT COUNT(*) c FROM food_listings").iloc[0,0]
        claim_ct = run_select("SELECT COUNT(*) c FROM claims").iloc[0,0]
    except Exception as e:
        st.error(f"DB error: {e}")
        st.stop()
    c1.metric("Providers", prov_ct)
    c2.metric("Receivers", recv_ct)
    c3.metric("Active Listings", list_ct)
    c4.metric("Total Claims", claim_ct)

    st.subheader("Latest Listings")
    df = load_joined_listings().head(20)
    st.dataframe(df)

# ========= BROWSE & FILTER =========
elif menu == "Browse & Filter":
    st.subheader("🔎 Filter Listings + Contact Providers")
    df = load_joined_listings()

    cities = ["All"] + sorted(df["City"].dropna().unique().tolist())
    providers = ["All"] + sorted(df["Provider_Name"].dropna().unique().tolist())
    food_types = ["All"] + sorted(df["Food_Type"].dropna().unique().tolist())
    meal_types = ["All"] + sorted(df["Meal_Type"].dropna().unique().tolist())

    col1, col2, col3, col4 = st.columns(4)
    with col1: city = st.selectbox("City", cities)
    with col2: prov = st.selectbox("Provider", providers)
    with col3: ftype = st.selectbox("Food Type", food_types)
    with col4: mtype = st.selectbox("Meal Type", meal_types)

    filt = df.copy()
    if city != "All": filt = filt[filt["City"] == city]
    if prov != "All": filt = filt[filt["Provider_Name"] == prov]
    if ftype != "All": filt = filt[filt["Food_Type"] == ftype]
    if mtype != "All": filt = filt[filt["Meal_Type"] == mtype]

    st.write(f"Found **{len(filt)}** listing(s).")
    st.dataframe(filt[["Food_ID","Food_Name","Quantity","Expiry_Date","City","Food_Type","Meal_Type","Provider_Name","Contact","Address"]])

    st.markdown("### 📞 Provider Contact Details")
    if len(filt) > 0:
        contacts = filt[["Provider_Name","Contact","Address"]].drop_duplicates().reset_index(drop=True)
        st.table(contacts)
    else:
        st.info("No provider contact details to display.")

# ========= PROVIDERS CRUD =========
elif menu == "Providers":
    st.subheader("🏪 Providers — Create / Update / Delete")
    df = table_df("providers")
    st.dataframe(df)

    tab1, tab2, tab3 = st.tabs(["➕ Add", "✏️ Update", "🗑️ Delete"])

    with tab1:
        with st.form("add_provider"):
            name = st.text_input("Name", "")
            ptype = st.text_input("Type (Restaurant, Grocery, etc.)", "")
            addr  = st.text_input("Address", "")
            city  = st.text_input("City", "")
            contact = st.text_input("Contact (+countrycode...)", "")
            submitted = st.form_submit_button("Add Provider")
        if submitted:
            exec_write("""
                INSERT INTO providers (Name, Type, Address, City, Contact)
                VALUES (:n, :t, :a, :c, :p)
            """, {"n":name, "t":ptype, "a":addr, "c":city, "p":contact})
            st.success("Provider added.")
            invalidate_cache()

    with tab2:
        ids = df["Provider_ID"].tolist()
        if ids:
            pid = st.selectbox("Select Provider_ID to update", ids)
            row = df[df["Provider_ID"]==pid].iloc[0]
            with st.form("upd_provider"):
                name = st.text_input("Name", row["Name"])
                ptype = st.text_input("Type", row["Type"] or "")
                addr = st.text_input("Address", row["Address"] or "")
                city = st.text_input("City", row["City"] or "")
                contact = st.text_input("Contact", row["Contact"] or "")
                upd = st.form_submit_button("Update")
            if upd:
                exec_write("""
                    UPDATE providers
                    SET Name=:n, Type=:t, Address=:a, City=:c, Contact=:p
                    WHERE Provider_ID=:id
                """, {"n":name, "t":ptype, "a":addr, "c":city, "p":contact, "id":int(pid)})
                st.success("Provider updated.")
                invalidate_cache()
        else:
            st.info("No providers to update.")

    with tab3:
        ids = df["Provider_ID"].tolist()
        if ids:
            pid = st.selectbox("Select Provider_ID to delete", ids, key="del_prov")
            if st.button("Delete Provider"):
                exec_write("DELETE FROM providers WHERE Provider_ID=:id", {"id": int(pid)})
                st.success("Provider deleted.")
                invalidate_cache()
        else:
            st.info("No providers to delete.")

# ========= RECEIVERS CRUD =========
elif menu == "Receivers":
    st.subheader("👥 Receivers — Create / Update / Delete")
    df = table_df("receivers")
    st.dataframe(df)

    tab1, tab2, tab3 = st.tabs(["➕ Add", "✏️ Update", "🗑️ Delete"])

    with tab1:
        with st.form("add_receiver"):
            name = st.text_input("Name", "")
            rtype = st.text_input("Type (NGO, Individual, etc.)", "")
            city = st.text_input("City", "")
            contact = st.text_input("Contact", "")
            sub = st.form_submit_button("Add Receiver")
        if sub:
            exec_write("""
                INSERT INTO receivers (Name, Type, City, Contact)
                VALUES (:n, :t, :c, :p)
            """, {"n":name, "t":rtype, "c":city, "p":contact})
            st.success("Receiver added.")
            invalidate_cache()

    with tab2:
        ids = df["Receiver_ID"].tolist()
        if ids:
            rid = st.selectbox("Select Receiver_ID to update", ids)
            row = df[df["Receiver_ID"]==rid].iloc[0]
            with st.form("upd_receiver"):
                name = st.text_input("Name", row["Name"])
                rtype = st.text_input("Type", row["Type"] or "")
                city = st.text_input("City", row["City"] or "")
                contact = st.text_input("Contact", row["Contact"] or "")
                upd = st.form_submit_button("Update")
            if upd:
                exec_write("""
                    UPDATE receivers
                    SET Name=:n, Type=:t, City=:c, Contact=:p
                    WHERE Receiver_ID=:id
                """, {"id": int(rid), "n":name, "t":rtype, "c":city, "p":contact})
                st.success("Receiver updated.")
                invalidate_cache()
        else:
            st.info("No receivers to update.")

    with tab3:
        ids = df["Receiver_ID"].tolist()
        if ids:
            rid = st.selectbox("Select Receiver_ID to delete", ids, key="del_recv")
            if st.button("Delete Receiver"):
                exec_write("DELETE FROM receivers WHERE Receiver_ID=:id", {"id": int(rid)})
                st.success("Receiver deleted.")
                invalidate_cache()
        else:
            st.info("No receivers to delete.")

# ========= LISTINGS CRUD =========
elif menu == "Listings":
    st.subheader("📦 Food Listings — Create / Update / Delete")
    df = table_df("food_listings")
    st.dataframe(df)

    providers = table_df("providers")
    provider_map = {f"{r.Provider_ID} - {r.Name}": int(r.Provider_ID) for r in providers.itertuples()} if len(providers) else {}

    tab1, tab2, tab3 = st.tabs(["➕ Add", "✏️ Update", "🗑️ Delete"])

    with tab1:
        with st.form("add_listing"):
            fname = st.text_input("Food Name", "")
            qty = st.number_input("Quantity", min_value=1, value=1, step=1)
            exp = st.date_input("Expiry Date", value=date.today())
            prov_sel = st.selectbox("Provider", ["None"] + list(provider_map.keys()))
            provider_id = provider_map.get(prov_sel, None)
            prov_type = ""
            city = st.text_input("Location/City", "")
            ftype = st.text_input("Food Type (Veg/Non-Veg/Vegan)", "")
            mtype = st.text_input("Meal Type (Breakfast/Lunch/Dinner/Snacks)", "")
            sub = st.form_submit_button("Add Listing")
        if sub:
            if provider_id:
                prov_type = providers.loc[providers["Provider_ID"]==provider_id, "Type"].iloc[0] or ""
            exec_write("""
                INSERT INTO food_listings (Food_Name, Quantity, Expiry_Date, Provider_ID, Provider_Type, Location, Food_Type, Meal_Type)
                VALUES (:n, :q, :e, :pid, :pt, :loc, :ft, :mt)
            """, {"n":fname, "q":int(qty), "e":exp.isoformat(), "pid":provider_id, "pt":prov_type,
                  "loc":city, "ft":ftype, "mt":mtype})
            st.success("Listing added.")
            invalidate_cache()

    with tab2:
        ids = df["Food_ID"].tolist()
        if ids:
            fid = st.selectbox("Select Food_ID to update", ids)
            row = df[df["Food_ID"]==fid].iloc[0]
            with st.form("upd_listing"):
                fname = st.text_input("Food Name", row["Food_Name"])
                qty = st.number_input("Quantity", min_value=0, value=int(row["Quantity"] or 0), step=1)
                exp = st.date_input("Expiry Date", value=pd.to_datetime(row["Expiry_Date"]).date() if row["Expiry_Date"] else date.today())
                city = st.text_input("Location/City", row["Location"] if "Location" in row else "")
                ftype = st.text_input("Food Type", row["Food_Type"] or "")
                mtype = st.text_input("Meal Type", row["Meal_Type"] or "")
                upd = st.form_submit_button("Update")
            if upd:
                exec_write("""
                    UPDATE food_listings
                    SET Food_Name=:n, Quantity=:q, Expiry_Date=:e, Location=:loc, Food_Type=:ft, Meal_Type=:mt
                    WHERE Food_ID=:id
                """, {"id": int(fid), "n":fname, "q":int(qty), "e":exp.isoformat(),
                      "loc":city, "ft":ftype, "mt":mtype})
                st.success("Listing updated.")
                invalidate_cache()
        else:
            st.info("No listings to update.")

    with tab3:
        ids = df["Food_ID"].tolist()
        if ids:
            fid = st.selectbox("Select Food_ID to delete", ids, key="del_list")
            if st.button("Delete Listing"):
                exec_write("DELETE FROM claims WHERE Food_ID=:id", {"id": int(fid)})  # clean dependent
                exec_write("DELETE FROM food_listings WHERE Food_ID=:id", {"id": int(fid)})
                st.success("Listing deleted (and related claims).")
                invalidate_cache()
        else:
            st.info("No listings to delete.")

# ========= CLAIM FLOW =========
elif menu == "Claim Food":
    st.subheader("🛒 Create a Claim (Quantity-safe)")
    listings = table_df("food_listings")
    receivers = table_df("receivers")

    if listings.empty or receivers.empty:
        st.warning("Need at least one listing and one receiver.")
        st.stop()

    st.dataframe(listings[["Food_ID","Food_Name","Quantity","Expiry_Date","Location"]].head(20))

    fid = st.number_input("Food_ID", min_value=1, step=1)
    rec_map = {f"{r.Receiver_ID} - {r.Name}": int(r.Receiver_ID) for r in receivers.itertuples()}
    rec_sel = st.selectbox("Receiver", list(rec_map.keys()))
    rid = rec_map[rec_sel]
    qty = st.number_input("Quantity to claim", min_value=1, step=1, value=1)

    if st.button("Create Claim"):
        try:
            with engine.begin() as conn:
                # Lock row (MySQL InnoDB): SELECT ... FOR UPDATE
                q = conn.execute(text("SELECT Quantity FROM food_listings WHERE Food_ID=:fid FOR UPDATE"), {"fid": int(fid)}).scalar()
                if q is None:
                    st.error("Food_ID not found.")
                elif q < int(qty):
                    st.error(f"Not enough quantity. Available: {q}")
                else:
                    # insert claim
                    ts = datetime.utcnow().strftime("%Y-%m-%d %H:%M:%S")
                    conn.execute(text("""
                        INSERT INTO claims (Food_ID, Receiver_ID, Quantity, Status, Timestamp)
                        VALUES (:fid, :rid, :qty, 'Pending', :ts)
                    """), {"fid": int(fid), "rid": int(rid), "qty": int(qty), "ts": ts})
                    # decrement
                    conn.execute(text("UPDATE food_listings SET Quantity=Quantity-:q WHERE Food_ID=:fid"),
                                 {"q": int(qty), "fid": int(fid)})
            st.success("Claim created. Status = Pending; listing quantity updated.")
            invalidate_cache()
        except Exception as e:
            st.error(f"Error: {e}")

# ========= MANAGE CLAIMS =========
elif menu == "Manage Claims":
    st.subheader("📑 Claims — Update / Delete")
    df = table_df("claims")
    st.dataframe(df)

    if not df.empty:
        cid = st.selectbox("Select Claim_ID", df["Claim_ID"].tolist())
        row = df[df["Claim_ID"]==cid].iloc[0]
        new_status = st.selectbox("New Status", ["Pending","Completed","Cancelled"], index=["Pending","Completed","Cancelled"].index(row["Status"]) if row["Status"] in ["Pending","Completed","Cancelled"] else 0)
        if st.button("Update Status"):
            exec_write("UPDATE claims SET Status=:s WHERE Claim_ID=:id", {"s": new_status, "id": int(cid)})
            st.success("Claim status updated.")
            invalidate_cache()

        if st.button("Delete Claim"):
            exec_write("DELETE FROM claims WHERE Claim_ID=:id", {"id": int(cid)})
            st.success("Claim deleted.")
            invalidate_cache()
    else:
        st.info("No claims yet.")

# ========= ANALYTICS =========
elif menu == "Analytics":
    st.subheader("📈 Analytics")
    q1 = """
    SELECT City, COUNT(*) AS providers_count
    FROM providers
    GROUP BY City
    ORDER BY providers_count DESC;
    """
    q2 = "SELECT COALESCE(SUM(Quantity),0) AS total_available FROM food_listings;"
    q3 = """
    SELECT Food_Type, COUNT(*) AS cnt
    FROM food_listings
    GROUP BY Food_Type
    ORDER BY cnt DESC;
    """
    q4 = """
    SELECT f.Meal_Type, SUM(c.Quantity) AS total_claimed
    FROM claims c
    JOIN food_listings f ON c.Food_ID=f.Food_ID
    GROUP BY f.Meal_Type
    ORDER BY total_claimed DESC;
    """

    try:
        df1 = run_select(q1); st.write("Providers by City"); st.table(df1)
        df2 = run_select(q2); st.write("Total Quantity Available"); st.table(df2)
        df3 = run_select(q3); st.write("Most Common Food Types"); st.table(df3.head(10))
        df4 = run_select(q4); st.write("Claims by Meal Type"); st.table(df4)
    except Exception as e:
        st.error(f"DB error: {e}")

In [8]:
#  evaluate_project
# -----------------------
"""
Project Evaluation Metrics for the Local Food Wastage System

Evaluates:
1) Completeness of SQL database with all necessary food donation records.
2) Accuracy of SQL queries in analyzing food donation trends.
3) Functionality of CRUD operations for food listing and claims.
4) User-friendliness (basic static checks) of the Streamlit interface.

Run:
    python evaluate_project.py
Options:
    Set DB_URI via environment variable, e.g.
    export DB_URI="sqlite:///food_waste.db"
"""

import os
import sys
import csv
from datetime import datetime, date
from contextlib import contextmanager

import pandas as pd
from sqlalchemy import create_engine, text, inspect
from sqlalchemy.exc import SQLAlchemyError

DB_URI = os.getenv("DB_URI", "sqlite:///food_wastage_mgt_system.db")
APP_FILE = os.getenv("APP_FILE", "app.py")  # path to your Streamlit app

engine = create_engine(DB_URI, future=True)

REQUIRED_SCHEMA = {
    "providers": ["Provider_ID", "Name", "Type", "Address", "City", "Contact"],
    "receivers": ["Receiver_ID", "Name", "Type", "City", "Contact"],
    "food_listings": [
        "Food_ID", "Food_Name", "Quantity", "Expiry_Date",
        "Provider_ID", "Provider_Type", "Location", "Food_Type", "Meal_Type"
    ],
    "claims": ["Claim_ID", "Food_ID", "Receiver_ID", "Quantity", "Status", "Timestamp"],
}

# ---------- Utilities ----------

def table_exists(conn, table):
    insp = inspect(conn)
    return insp.has_table(table)

def columns_for(conn, table):
    insp = inspect(conn)
    cols = [c['name'] for c in insp.get_columns(table)]
    return cols

def count_rows(conn, table):
    return conn.execute(text(f"SELECT COUNT(*) FROM {table}")).scalar_one()

def safe_read_sql(sql, params=None):
    return pd.read_sql_query(sql, engine, params=params)

@contextmanager
def tx():
    """Open a transaction and roll back on error; commit on success."""
    with engine.begin() as conn:
        try:
            yield conn
        except Exception:
            raise

def pct(a, b):
    return 0.0 if b == 0 else round(100.0 * a / b, 2)

def as_bool(ok):
    return "PASS" if ok else "FAIL"

# ---------- 1) Completeness Checks ----------

def evaluate_completeness():
    """
    Checks:
      - All required tables exist
      - All required columns exist
      - Non-empty critical tables
      - Foreign key integrity (no orphans)
      - Minimal nulls in key columns
    Produces a score 0..100
    """
    details = []
    score_parts = []

    with engine.begin() as conn:
        # 1a. Tables exist
        for t in REQUIRED_SCHEMA:
            exists = table_exists(conn, t)
            details.append(("Table exists", t, as_bool(exists)))
            score_parts.append(10 if exists else 0)

        # 1b. Columns exist
        for t, req_cols in REQUIRED_SCHEMA.items():
            if not table_exists(conn, t):
                details.append(("Columns present", t, "FAIL (table missing)"))
                continue
            actual_cols = set(columns_for(conn, t))
            missing = [c for c in req_cols if c not in actual_cols]
            ok = len(missing) == 0
            msg = "PASS" if ok else f"FAIL (missing: {missing})"
            details.append(("Columns present", t, msg))
            score_parts.append(10 if ok else max(0, 10 - 2 * len(missing)))

        # 1c. Non-empty critical tables (food_listings, providers, receivers)
        for t in ["providers", "receivers", "food_listings"]:
            if table_exists(conn, t):
                n = count_rows(conn, t)
                details.append(("Non-empty table", t, f"{as_bool(n > 0)} ({n} rows)"))
                score_parts.append(10 if n > 0 else 0)
            else:
                details.append(("Non-empty table", t, "FAIL (table missing)"))

        # 1d. Foreign key integrity checks (orphans)
        orphan_checks = []
        if all(table_exists(conn, t) for t in ["food_listings", "providers"]):
            orphans = conn.execute(text("""
                SELECT COUNT(*) FROM food_listings f
                LEFT JOIN providers p ON f.Provider_ID = p.Provider_ID
                WHERE f.Provider_ID IS NOT NULL AND p.Provider_ID IS NULL
            """)).scalar_one()
            orphan_checks.append(("food_listings.Provider_ID -> providers", orphans))
        if all(table_exists(conn, t) for t in ["claims", "food_listings"]):
            orphans = conn.execute(text("""
                SELECT COUNT(*) FROM claims c
                LEFT JOIN food_listings f ON c.Food_ID = f.Food_ID
                WHERE f.Food_ID IS NULL
            """)).scalar_one()
            orphan_checks.append(("claims.Food_ID -> food_listings", orphans))
        if all(table_exists(conn, t) for t in ["claims", "receivers"]):
            orphans = conn.execute(text("""
                SELECT COUNT(*) FROM claims c
                LEFT JOIN receivers r ON c.Receiver_ID = r.Receiver_ID
                WHERE r.Receiver_ID IS NULL
            """)).scalar_one()
            orphan_checks.append(("claims.Receiver_ID -> receivers", orphans))

        for name, orphan_count in orphan_checks:
            ok = orphan_count == 0
            details.append(("Foreign key integrity", name, f"{as_bool(ok)} (orphans={orphan_count})"))
            score_parts.append(10 if ok else max(0, 10 - min(10, orphan_count)))

        # 1e. Nulls in key columns (Quantity, Expiry_Date, Status)
        null_checks = []
        if table_exists(conn, "food_listings"):
            null_q = conn.execute(text("SELECT COUNT(*) FROM food_listings WHERE Quantity IS NULL")).scalar_one()
            null_e = conn.execute(text("SELECT COUNT(*) FROM food_listings WHERE Expiry_Date IS NULL")).scalar_one()
            null_checks.append(("food_listings.Quantity", null_q))
            null_checks.append(("food_listings.Expiry_Date", null_e))
        if table_exists(conn, "claims"):
            null_s = conn.execute(text("SELECT COUNT(*) FROM claims WHERE Status IS NULL")).scalar_one()
            null_checks.append(("claims.Status", null_s))

        for name, c in null_checks:
            ok = c == 0
            details.append(("Null check", name, f"{as_bool(ok)} (nulls={c})"))
            score_parts.append(5 if ok else 0)

    score = max(0, min(100, sum(score_parts)))
    return score, details

# ---------- 2) Query Accuracy ----------

def providers_by_city_sql():
    return safe_read_sql("SELECT City, COUNT(*) AS providers_count FROM providers GROUP BY City ORDER BY City;")

def providers_by_city_pandas():
    df = pd.read_sql_table("providers", engine)
    return df.groupby("City").size().reset_index(name="providers_count").sort_values("City")

def total_available_qty_sql():
    return safe_read_sql("SELECT COALESCE(SUM(Quantity),0) AS total_available FROM food_listings;")

def total_available_qty_pandas():
    df = pd.read_sql_table("food_listings", engine)
    return pd.DataFrame({"total_available": [int(df["Quantity"].fillna(0).sum())]})

def most_common_food_types_sql():
    return safe_read_sql("""
        SELECT Food_Type, COUNT(*) AS cnt
        FROM food_listings
        GROUP BY Food_Type
        ORDER BY cnt DESC, Food_Type ASC;
    """)

def most_common_food_types_pandas():
    df = pd.read_sql_table("food_listings", engine)
    out = df.groupby("Food_Type").size().reset_index(name="cnt")
    return out.sort_values(["cnt", "Food_Type"], ascending=[False, True]).reset_index(drop=True)

def evaluate_query_accuracy():
    """Compare SQL results vs pandas ground truth. Score 0..100."""
    tests = []
    score = 0
    total = 3  # number of tests

    try:
        a_sql = providers_by_city_sql()
        a_pd = providers_by_city_pandas()
        ok = a_sql.reset_index(drop=True).equals(a_pd.reset_index(drop=True))
        tests.append(("providers_by_city", as_bool(ok)))
        score += (100 / total) if ok else 0
    except Exception as e:
        tests.append(("providers_by_city", f"FAIL ({e})"))

    try:
        b_sql = total_available_qty_sql()
        b_pd = total_available_qty_pandas()
        ok = int(b_sql.iloc[0,0]) == int(b_pd.iloc[0,0])
        tests.append(("total_available_quantity", as_bool(ok)))
        score += (100 / total) if ok else 0
    except Exception as e:
        tests.append(("total_available_quantity", f"FAIL ({e})"))

    try:
        c_sql = most_common_food_types_sql()
        c_pd = most_common_food_types_pandas()
        ok = c_sql.reset_index(drop=True).equals(c_pd.reset_index(drop=True))
        tests.append(("most_common_food_types", as_bool(ok)))
        score += (100 / total) if ok else 0
    except Exception as e:
        tests.append(("most_common_food_types", f"FAIL ({e})"))

    return round(score, 2), tests

# ---------- 3) CRUD Functionality Tests ----------

def evaluate_crud():
    """
    Inserts test provider/receiver/listing, performs update and delete,
    creates a claim and updates its status. Cleans up test data.
    Score 0..100 distributed across operations.
    """
    ops = []
    score = 0
    points_each = 20  # 5 ops * 20 = 1000

    with engine.begin() as conn:
        # Create test provider
        conn.execute(text("""
            INSERT INTO providers (Name, Type, Address, City, Contact)
            VALUES ('__TEST_PROVIDER__', 'Restaurant', 'X St', 'TestCity', '+10000000000')
        """))
        prov_id = conn.execute(text("SELECT MAX(Provider_ID) FROM providers WHERE Name='__TEST_PROVIDER__'")).scalar_one()
        ok = prov_id is not None
        ops.append(("Create Provider", as_bool(ok)))
        score += points_each if ok else 0

        # Create test receiver
        conn.execute(text("""
            INSERT INTO receivers (Name, Type, City, Contact)
            VALUES ('__TEST_RECEIVER__', 'NGO', 'TestCity', '+20000000000')
        """))
        recv_id = conn.execute(text("SELECT MAX(Receiver_ID) FROM receivers WHERE Name='__TEST_RECEIVER__'")).scalar_one()
        ok = recv_id is not None
        ops.append(("Create Receiver", as_bool(ok)))
        score += points_each if ok else 0

        # Create test listing
        conn.execute(text("""
            INSERT INTO food_listings (Food_Name, Quantity, Expiry_Date, Provider_ID, Provider_Type, Location, Food_Type, Meal_Type)
            VALUES ('__TEST_FOOD__', 10, :exp, :pid, 'Restaurant', 'TestCity', 'Veg', 'Lunch')
        """), {"exp": date.today().isoformat(), "pid": prov_id})
        food_id = conn.execute(text("SELECT MAX(Food_ID) FROM food_listings WHERE Food_Name='__TEST_FOOD__'")).scalar_one()
        ok = food_id is not None
        ops.append(("Create Listing", as_bool(ok)))
        score += points_each if ok else 0

        # Update listing quantity
        conn.execute(text("UPDATE food_listings SET Quantity = Quantity + 5 WHERE Food_ID = :fid"), {"fid": food_id})
        qty = conn.execute(text("SELECT Quantity FROM food_listings WHERE Food_ID = :fid"), {"fid": food_id}).scalar_one()
        ok = qty == 15
        ops.append(("Update Listing", as_bool(ok)))
        score += points_each if ok else 0

        # Create and update claim (simulate 'claim_food' logic)
        # Basic: insert claim and decrement quantity
        conn.execute(text("""
            INSERT INTO claims (Food_ID, Receiver_ID, Quantity, Status, Timestamp)
            VALUES (:fid, :rid, 3, 'Pending', :ts)
        """), {"fid": food_id, "rid": recv_id, "ts": datetime.utcnow().isoformat(sep=' ', timespec='seconds')})
        conn.execute(text("UPDATE food_listings SET Quantity = Quantity - 3 WHERE Food_ID = :fid"), {"fid": food_id})
        # Update status to Completed
        conn.execute(text("UPDATE claims SET Status='Completed' WHERE Claim_ID=(SELECT MAX(Claim_ID) FROM claims WHERE Food_ID=:fid)"), {"fid": food_id})
        status = conn.execute(text("SELECT Status FROM claims WHERE Claim_ID=(SELECT MAX(Claim_ID) FROM claims WHERE Food_ID=:fid)"), {"fid": food_id}).scalar_one()
        qty2 = conn.execute(text("SELECT Quantity FROM food_listings WHERE Food_ID = :fid"), {"fid": food_id}).scalar_one()
        ok = (status == "Completed") and (qty2 == 12)
        ops.append(("Create/Update Claim", as_bool(ok)))
        score += points_each if ok else 0

        # Clean up test rows
        conn.execute(text("DELETE FROM claims WHERE Food_ID = :fid"), {"fid": food_id})
        conn.execute(text("DELETE FROM food_listings WHERE Food_ID = :fid"), {"fid": food_id})
        conn.execute(text("DELETE FROM receivers WHERE Receiver_ID = :rid"), {"rid": recv_id})
        conn.execute(text("DELETE FROM providers WHERE Provider_ID = :pid"), {"pid": prov_id})

    return score, ops

# ---------- 4) UI Friendliness (static checks) ----------

def evaluate_ui_friendliness():
    """
    Static checks on Streamlit app source to ensure presence of:
      - Sidebar navigation with expected pages
      - Key sections exist
    This is heuristic (not a full UX test).
    """
    checks = []
    score = 0
    total_checks = 4

    if not os.path.exists(APP_FILE):
        return 0, [("app.py present", "FAIL (file not found)")]

    code = open(APP_FILE, "r", encoding="utf-8").read()

    def add_check(name, cond):
        nonlocal score
        checks.append((name, as_bool(cond)))
        if cond:
            score += 100 / total_checks

    add_check("app.py present", True)
    add_check("Sidebar navigation exists", "st.sidebar.radio" in code)
    add_check("Has 'Add Listing' page", "Add Listing" in code)
    add_check("Has 'Analytics' page", "Analytics" in code)

    return round(score, 2), checks

# ---------- Report ----------

def write_csv_report(filename, rows):
    with open(filename, "w", newline="", encoding="utf-8") as f:
        w = csv.writer(f)
        w.writerow(["Section", "Item", "Result/Details"])
        for r in rows:
            w.writerow(r)

def main():
    all_rows = []

    # 1) Completeness
    comp_score, comp_details = evaluate_completeness()
    print("\n[1] Completeness of SQL Database: ", comp_score, "/ 1000")
    for item, name, result in comp_details:
        print(f"  - {item} :: {name} -> {result}")
        all_rows.append(("Completeness", f"{item} :: {name}", result))

    # 2) Query Accuracy
    qa_score, qa_tests = evaluate_query_accuracy()
    print("\n[2] Accuracy of Analysis Queries: ", qa_score, "/ 1000")
    for name, result in qa_tests:
        print(f"  - {name} -> {result}")
        all_rows.append(("Query Accuracy", name, result))

    # 3) CRUD Functionality
    crud_score, crud_ops = evaluate_crud()
    print("\n[3] CRUD Functionality: ", crud_score, "/ 1000")
    for name, result in crud_ops:
        print(f"  - {name} -> {result}")
        all_rows.append(("CRUD", name, result))

    # 4) UI Friendliness
    ui_score, ui_checks = evaluate_ui_friendliness()
    print("\n[4] UI Friendliness (static checks): ", ui_score, "/ 1000")
    for name, result in ui_checks:
        print(f"  - {name} -> {result}")
        all_rows.append(("UI", name, result))

    # Final weighted/average score (simple average here)
    final_score = round((comp_score + qa_score + crud_score + ui_score) / 4.0, 2)
    print("\n==============================")
    print(f"FINAL PROJECT SCORE: {final_score} / 100")
    print("==============================\n")

    # Optional CSV report
    out_csv = f"project_evaluation_report_{datetime.now().strftime('%Y%m%d_%H%M%S')}.csv"
    write_csv_report(out_csv, all_rows)
    print(f"Detailed report saved to {out_csv}")

if __name__ == "__main__":
    try:
        main()
    except SQLAlchemyError as e:
        print("Database error:", e)
        sys.exit(1)
    except Exception as e:
        print("Error:", e)
        sys.exit(1)

[1] Completeness of SQL Database:  20 / 100
  - Table exists :: providers -> PASS
  - Table exists :: receivers -> FAIL
  - Table exists :: food_listings -> FAIL
  - Table exists :: claims -> FAIL
  - Columns present :: providers -> PASS
  - Columns present :: receivers -> FAIL (table missing)
  - Columns present :: food_listings -> FAIL (table missing)
  - Columns present :: claims -> FAIL (table missing)
  - Non-empty table :: providers -> FAIL (0 rows)
  - Non-empty table :: receivers -> FAIL (table missing)
  - Non-empty table :: food_listings -> FAIL (table missing)

[2] Accuracy of Analysis Queries:  0 / 100
  - providers_by_city -> FAIL
  - total_available_quantity -> FAIL ((sqlite3.OperationalError) no such table: food_listings
[SQL: SELECT COALESCE(SUM(Quantity),0) AS total_available FROM food_listings;]
(Background on this error at: https://sqlalche.me/e/20/e3q8))
  - most_common_food_types -> FAIL ((sqlite3.OperationalError) no such table: food_listings
[SQL:
        SELECT Food_Type, COUNT(*) AS cnt
        FROM food_listings
        GROUP BY Food_Type
        ORDER BY cnt DESC, Food_Type ASC;
    ]
(Background on this error at: https://sqlalche.me/e/20/e3q8))
Database error: (sqlite3.OperationalError) no such table: receivers
[SQL:
            INSERT INTO receivers (Name, Type, City, Contact)
            VALUES ('__TEST_RECEIVER__', 'NGO', 'TestCity', '+20000000000')
        ]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

SystemExit: 1

C:\Users\VISHWA PRIYARANJAN\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3585: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

Conclusion:
--------------
The Local Food Wastage Management and Redistribution System successfully bridges the gap between food surplus sources and needy recipients by providing a centralized, user-friendly platform for listing, claiming, and tracking food donations. Through real-time updates, automated claim processing, and insightful analytics, the system not only reduces wastage but also promotes social responsibility and community support. By leveraging modern technology and a streamlined database-driven approach, the project demonstrates that efficient food redistribution is both feasible and impactful, contributing to environmental sustainability and hunger reduction. With further enhancements like geolocation, notifications, and secure authentication, this system has the potential to scale beyond local communities and create a broader positive change.